body {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%; }

@font-face {
  font-family: mavenProRegular;
  src: url("fonts/MavenPro-Regular.ttf"); }
@font-face {
  font-family: mavenProBold;
  src: url("fonts/MavenPro-Bold.ttf"); }
@font-face {
  font-family: mavenProSemiBold;
  src: url("fonts/MavenPro-SemiBold.ttf"); }
@font-face {
  font-family: mavenProMedium;
  src: url("fonts/MavenPro-Medium.ttf"); }
a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: black;
    text-decoration: underline; }
  a:visited {
    color: black;
    text-decoration: none; }

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.button-upload {
  border: none;
  outline: none;
  height: 40px;
  width: 75px;
  background-color: #7F7F7F;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 0;
  background-image: url("/images/download.svg");
  background-repeat: no-repeat;
  background-position: center; }
  .button-upload:hover {
    cursor: pointer; }

.button-upload-success {
  border: none;
  outline: none;
  height: 40px;
  width: 75px;
  background-color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 0;
  background-image: url("/images/done.svg");
  background-repeat: no-repeat;
  background-position: center; }
  .button-upload-success:hover {
    cursor: pointer; }

.button-upload-error {
  border: none;
  outline: none;
  height: 40px;
  width: 75px;
  background-color: #C63535;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 0;
  background-image: url("/images/close_button.svg");
  background-repeat: no-repeat;
  background-position: center; }
  .button-upload-error:hover {
    cursor: pointer; }

.upload-group {
  position: relative; }
  .upload-group.error input {
    border-color: #C63535; }

.button-red {
  border: none;
  outline: none;
  height: 55px;
  width: 200px;
  background-color: #C63535;
  font-family: mavenProRegular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF; }
  .button-red:hover {
    cursor: pointer;
    background-color: #991D1D; }

.link-red {
  border: none;
  outline: none;
  height: 40px;
  width: 135px;
  background-color: #C63535;
  font-family: mavenProRegular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center; }
  .link-red:hover {
    cursor: pointer;
    background-color: #991D1D;
    font-family: mavenProBold;
    color: white; }
  .link-red:visited {
    color: white; }
  .link-red:active {
    color: white; }

.mobile-menu {
  z-index: 50;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  background: black;
  display: none; }
  .mobile-menu .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .mobile-menu .content img {
      position: absolute;
      left: 23px;
      top: 30px;
      height: 32px;
      width: 130px; }
    .mobile-menu .content .items {
      margin-top: 82px;
      display: flex;
      flex-direction: column;
      margin-bottom: 100px; }
      .mobile-menu .content .items a {
        color: #FFFFFF;
        font-family: mavenProMedium;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 40px;
        text-decoration: none; }
        .mobile-menu .content .items a:visited {
          color: #FFFFFF; }
        .mobile-menu .content .items a:active {
          color: #FFFFFF; }
  .mobile-menu .close {
    position: absolute;
    top: 30px;
    right: 30px; }

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .main.cover {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/Cover foto.jpg");
    background-blend-mode: overlay; }
  .main.empty {
    background-color: #000000; }
  .main .box {
    margin-top: 39px;
    width: 1140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .main .box .top {
      justify-content: space-between; }
    .main .box .right .contact {
      color: #7F7F7F;
      font-family: mavenProRegular;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 30px;
      text-align: right; }
      .main .box .right .contact a {
        color: #7F7F7F;
        text-decoration: none; }
        .main .box .right .contact a:hover {
          text-decoration: underline; }
        .main .box .right .contact a:visited, .main .box .right .contact a:active {
          color: #7F7F7F;
          text-decoration: none; }
    .main .box .right .menu {
      color: #FFFFFF;
      font-family: mavenProRegular;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 58px;
      text-align: right; }
      .main .box .right .menu a {
        color: #FFFFFF;
        text-decoration: none;
        margin-left: 30px; }
        .main .box .right .menu a:visited, .main .box .right .menu a:active {
          color: #FFFFFF;
          text-decoration: none; }
        .main .box .right .menu a:hover {
          color: #C63535; }
    .main .box .title {
      margin-top: 171px;
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 58px;
      display: flex;
      justify-content: flex-end;
      margin-right: 104px; }
      .main .box .title .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; }
        .main .box .title .content .btn {
          margin-top: 25px; }
    .main .box .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0;
      max-width: 1290px;
      justify-content: space-between; }
      .main .box .cards .item {
        font-family: mavenProMedium;
        height: 140px;
        width: 270px;
        background-color: #191919;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-right: 22.5px;
        position: relative; }
        .main .box .cards .item:hover {
          cursor: pointer;
          -webkit-filter: grayscale(100%);
          color: gray; }
        .main .box .cards .item .line {
          position: absolute;
          top: 0px;
          left: 30px;
          border-left: 1px solid #C63535;
          height: 86px; }
        .main .box .cards .item a {
          color: #FFFFFF;
          font-family: mavenProMedium;
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 25px;
          text-decoration: none; }
          .main .box .cards .item a:hover {
            color: gray; }
          .main .box .cards .item a:active, .main .box .cards .item a :visited {
            color: white;
            text-decoration: none; }

.about, .desc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about .box, .desc .box {
    display: flex;
    flex-direction: row;
    width: 950px; }
    .about .box .left, .desc .box .left {
      width: 600px;
      z-index: 100;
      display: flex;
      flex-direction: column; }
    .about .box .right, .desc .box .right {
      z-index: -1;
      width: 450px;
      margin-left: -310px;
      margin-top: 43px; }
      .about .box .right img, .desc .box .right img {
        width: 892px;
        height: 596px; }
    .about .box .title, .desc .box .title {
      color: #000000;
      font-family: mavenProRegular;
      font-size: 40px;
      font-weight: 900;
      margin-top: 100px;
      letter-spacing: 0;
      line-height: 58px; }
    .about .box .content, .desc .box .content {
      margin-top: 19px;
      max-width: 454px;
      color: #000000;
      font-family: mavenProRegular;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 25px; }
  .about .bottom, .desc .bottom {
    width: 950px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 114px; }
    .about .bottom .btn, .desc .bottom .btn {
      margin-left: 480px; }

.production {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
  padding-bottom: 52px; }
  .production .left {
    margin-top: 185px; }
  .production .right {
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .production .right .title {
      width: 100%;
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 58px;
      margin-top: 38px; }
    .production .right .content {
      max-width: 560px;
      color: #FFFFFF;
      font-family: mavenProRegular;
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 0;
      line-height: 25px; }
    .production .right .btn {
      margin-top: 42px; }

.list {
  padding-left: 25px;
  margin-top: -20px; }

.quote {
  font-family: mavenProSemiBold; }

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 45px; }
  .footer .box {
    background-size: 267px 78px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("/images/Slogan_paticka.svg"); }
    .footer .box .content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between; }
    .footer .box .col {
      margin-top: 25px;
      width: 285px;
      font-family: mavenProRegular;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 18px;
      display: flex;
      flex-direction: column;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 27px; }
      .footer .box .col .con {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .footer .box .col .con img {
          margin-right: 4px; }
      .footer .box .col .title {
        color: #000000;
        font-family: mavenProSemiBold;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 18px;
        margin-bottom: 15px; }
      .footer .box .col a {
        color: #000000;
        text-decoration: none; }
        .footer .box .col a:hover {
          text-decoration: underline; }
        .footer .box .col a:visited, .footer .box .col a :active {
          color: #000000; }
      .footer .box .col.col4 .icon {
        margin-right: 8px; }
      .footer .box .col.col4 .row {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center; }
    .footer .box .col1 {
      line-height: 20px; }
      .footer .box .col1 .gray {
        color: #DBDBDB; }
      .footer .box .col1 .row {
        margin-bottom: 10px; }

.footer-logo {
  margin-top: 20px;
  height: 30px;
  width: 100%;
  color: #9B9B9B;
  font-family: mavenProRegular;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .footer-logo .copyright {
    text-align: center;
    width: 100%; }
  .footer-logo .matfix-logo {
    text-align: right;
    margin-left: auto;
    margin-right: 14px;
    margin-bottom: 14px; }
    .footer-logo .matfix-logo img {
      max-width: 50px; }
    .footer-logo .matfix-logo span {
      font-size: 9px;
      line-height: 9px;
      color: #D8D8D8; }
    .footer-logo .matfix-logo a {
      color: inherit;
      text-decoration: none; }
    .footer-logo .matfix-logo a:hover {
      text-decoration: underline; }

.reference-page {
  display: flex;
  flex-direction: column;
  color: #FFFFFF; }
  .reference-page .box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px; }
    .reference-page .box-content .title {
      justify-content: flex-start;
      margin-left: 100px;
      font-family: mavenProMedium;
      margin-top: 92px; }
    .reference-page .box-content .slider {
      max-width: 1120px; }
      .reference-page .box-content .slider .arrow-wrap {
        display: flex;
        justify-content: center; }
      .reference-page .box-content .slider .arrow-left {
        margin-top: 100px; }
      .reference-page .box-content .slider .arrow-right {
        margin-top: 100px; }
      .reference-page .box-content .slider .images {
        margin-top: 76px; }
        .reference-page .box-content .slider .images img {
          display: none;
          width: 260px;
          height: 170px; }
          .reference-page .box-content .slider .images img:nth-child(-n+4) {
            display: inline; }
  .reference-page .box-reference {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 180px; }
    .reference-page .box-reference .title {
      justify-content: flex-start;
      color: black;
      margin-left: 100px;
      font-family: mavenProMedium; }
  .reference-page .clients {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .reference-page .clients .list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0;
      margin-top: 29px;
      justify-content: center; }
    .reference-page .clients .item {
      width: 186px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 47px; }
      .reference-page .clients .item img {
        max-width: 85%; }
  .reference-page .title {
    justify-content: flex-start;
    margin-top: 92px;
    color: #FFFFFF;
    font-family: mavenProMedium;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 45px; }

.eshop-page {
  display: flex;
  flex-direction: column;
  color: #FFFFFF; }
  .eshop-page .main .box {
    width: 1160px; }
  .eshop-page .step {
    width: 399px;
    color: #C63535;
    font-family: mavenProMedium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 58px; }
  .eshop-page .box-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px; }
    .eshop-page .box-content .head-text {
      margin-left: 150px;
      background-position: right;
      background-repeat: no-repeat;
      background-image: url("/images/4everin_nahledfoto_objednavka.png");
      background-blend-mode: overlay;
      background-size: 360px; }
    .eshop-page .box-content .title {
      margin-top: 55px;
      justify-content: flex-start;
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 30px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 58px; }
    .eshop-page .box-content .subtitle {
      max-width: 656px;
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 26px; }
    .eshop-page .box-content .items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center; }
      .eshop-page .box-content .items .selected-icon {
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center; }
        .eshop-page .box-content .items .selected-icon img {
          width: 66px;
          height: 51px; }
      .eshop-page .box-content .items .item {
        position: relative; }
        .eshop-page .box-content .items .item .body {
          width: 90%;
          display: flex;
          align-items: center;
          flex-direction: column; }
        .eshop-page .box-content .items .item .body:hover {
          opacity: 0.2; }
        .eshop-page .box-content .items .item .link-red {
          z-index: 10;
          position: absolute; }
          .eshop-page .box-content .items .item .link-red:hover {
            font-weight: bold;
            text-decoration: none; }
        .eshop-page .box-content .items .item .view-orig {
          position: absolute;
          top: 9px;
          right: 29px;
          z-index: 10; }
      .eshop-page .box-content .items .item-wrap {
        height: 125px;
        width: 244px;
        background-color: #191919;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-right: 20px;
        position: relative; }
        .eshop-page .box-content .items .item-wrap img {
          max-width: 100px;
          max-height: 72px; }
        .eshop-page .box-content .items .item-wrap .sample {
          max-width: 100%;
          max-height: 100%;
          width: 100%;
          height: 100%;
          display: none; }
        .eshop-page .box-content .items .item-wrap .text {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%; }
          .eshop-page .box-content .items .item-wrap .text .left {
            color: #7F7F7F;
            font-family: mavenProRegular;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 18px; }
            .eshop-page .box-content .items .item-wrap .text .left .bold {
              font-family: mavenProSemiBold;
              display: block; }
          .eshop-page .box-content .items .item-wrap .text .right {
            color: #FFFFFF;
            font-family: mavenProBold;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 18px;
            display: flex;
            align-items: flex-end; }
  .eshop-page .order {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    padding-bottom: 45px; }
    .eshop-page .order .box {
      color: black;
      width: 950px;
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .eshop-page .order .box .box-item {
        max-width: 367px; }
        .eshop-page .order .box .box-item .text {
          color: #000000;
          font-family: mavenProRegular;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 20px; }
        .eshop-page .order .box .box-item.step-4 {
          width: 100%;
          margin-top: 15px; }
        .eshop-page .order .box .box-item .select-font {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between; }
  .eshop-page .delivery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 54px; }
    .eshop-page .delivery .box {
      color: black;
      width: 950px;
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .eshop-page .delivery .box .box-item .ordered-items .ordered-item {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        position: relative;
        margin-bottom: 14px; }
        .eshop-page .delivery .box .box-item .ordered-items .ordered-item .chevrons {
          display: flex;
          flex-direction: column;
          height: 100%;
          margin-left: 88px;
          position: absolute;
          justify-content: space-between; }
          .eshop-page .delivery .box .box-item .ordered-items .ordered-item .chevrons .up {
            padding-top: 10px; }
            .eshop-page .delivery .box .box-item .ordered-items .ordered-item .chevrons .up:hover {
              cursor: pointer; }
          .eshop-page .delivery .box .box-item .ordered-items .ordered-item .chevrons .down {
            padding-bottom: 10px; }
            .eshop-page .delivery .box .box-item .ordered-items .ordered-item .chevrons .down:hover {
              cursor: pointer; }
          .eshop-page .delivery .box .box-item .ordered-items .ordered-item .chevrons img {
            height: 7.42px;
            width: 12.02px; }
        .eshop-page .delivery .box .box-item .ordered-items .ordered-item .text {
          color: #7F7F7F;
          font-family: mavenProRegular;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 18px;
          position: absolute;
          left: 88px; }
          .eshop-page .delivery .box .box-item .ordered-items .ordered-item .text.chevron {
            left: 105px; }
          .eshop-page .delivery .box .box-item .ordered-items .ordered-item .text .title {
            font-family: mavenProBold;
            margin-bottom: 3px;
            color: #000; }
        .eshop-page .delivery .box .box-item .ordered-items .ordered-item .price {
          color: #000000;
          font-family: mavenProBold;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 18px;
          text-align: right; }
          .eshop-page .delivery .box .box-item .ordered-items .ordered-item .price .desc {
            font-family: mavenProRegular; }
        .eshop-page .delivery .box .box-item .ordered-items .ordered-item .image {
          width: 67px;
          height: 46px;
          display: flex;
          justify-content: center;
          align-items: center; }
        .eshop-page .delivery .box .box-item .ordered-items .ordered-item img {
          height: 46px;
          width: 67px; }
        .eshop-page .delivery .box .box-item .ordered-items .ordered-item .d {
          width: 48px;
          height: 30px; }
      .eshop-page .delivery .box .box-item .chck {
        margin-top: 5px; }
      .eshop-page .delivery .box .box-item .step {
        margin-top: 15px; }
      .eshop-page .delivery .box .box-item .item-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end; }
        .eshop-page .delivery .box .box-item .item-row .price {
          color: #000000;
          font-family: mavenProRegular;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 20px;
          text-align: right; }
      .eshop-page .delivery .box .box-item .text {
        color: #000000;
        font-family: mavenProRegular;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 20px; }
      .eshop-page .delivery .box .box-item.step-4 {
        width: 100%; }
      .eshop-page .delivery .box .box-item .button-red {
        margin-top: 68px;
        width: 270px; }
      .eshop-page .delivery .box .box-item .total-price {
        background-color: #191919;
        font-family: mavenProBold;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 18px;
        color: white;
        padding: 11px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px; }
      .eshop-page .delivery .box .box-item .select-font {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; }

input, textarea {
  padding-left: 10px;
  font-size: 15px; }
  input::placeholder, textarea::placeholder {
    background-color: #FFFFFF;
    font-family: mavenProRegular;
    font-size: 15px; }

textarea {
  padding-top: 11px; }

.text-input {
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #7F7F7F;
  border-radius: 0;
  padding-left: 10px;
  margin-top: 14px;
  width: 100%; }

.chck {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  color: #000000;
  font-family: mavenProRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px; }
  .chck input {
    height: 24px;
    width: 24px;
    margin-right: 15px; }

.input-group {
  color: #000000;
  font-family: mavenProRegular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  display: flex;
  flex-direction: column;
  margin-top: 5px; }
  .input-group input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #7F7F7F;
    background-color: #FFFFFF;
    padding-left: 10px;
    font-family: mavenProRegular;
    font-size: 15px; }
    .input-group input::placeholder {
      background-color: #FFFFFF;
      font-family: mavenProRegular;
      font-size: 15px; }

.contact-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #FFFFFF; }
  .contact-page .main {
    width: 100%; }
  .contact-page .box-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 92px; }
    .contact-page .box-content .left {
      width: 400px;
      height: 100%; }
    .contact-page .box-content .right {
      width: 650px;
      height: 650px; }
      .contact-page .box-content .right iframe {
        width: 100%;
        height: 100%; }
    .contact-page .box-content .title {
      justify-content: flex-start;
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 45px;
      margin-top: 0px; }
    .contact-page .box-content .subtitle {
      color: #FFFFFF;
      font-family: mavenProBold;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 18px;
      margin-top: 40px;
      margin-bottom: 20px; }
    .contact-page .box-content .text {
      width: 200px;
      color: #FFFFFF;
      font-family: mavenProRegular;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 32px; }
      .contact-page .box-content .text a {
        color: white;
        text-decoration: none; }
        .contact-page .box-content .text a:hover {
          color: white;
          text-decoration: underline; }
        .contact-page .box-content .text a:visited {
          color: white;
          text-decoration: none; }
      .contact-page .box-content .text img {
        margin-right: 12px; }
    .contact-page .box-content .technic-specs {
      color: #7F7F7F; }
      .contact-page .box-content .technic-specs a {
        color: #7F7F7F;
        text-decoration: none; }
        .contact-page .box-content .technic-specs a:visited {
          color: #7F7F7F;
          text-decoration: none; }
        .contact-page .box-content .technic-specs a:hover {
          color: #7F7F7F;
          text-decoration: underline; }

.zakazka-page .box-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: -60px;
  margin-top: 65px; }
  .zakazka-page .box-content .left {
    max-width: 400px; }
    .zakazka-page .box-content .left .title {
      margin-top: 0px;
      height: 151px;
      width: 399px;
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 45px; }
    .zakazka-page .box-content .left .subtitle {
      max-width: 269px;
      color: #7F7F7F;
      font-family: mavenProMedium;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 25px; }
    .zakazka-page .box-content .left .button-red {
      margin-top: 44px; }
  .zakazka-page .box-content .right {
    max-width: 750px; }
    .zakazka-page .box-content .right img {
      max-width: 750px; }
.zakazka-page .desc {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .zakazka-page .desc .box .content {
    margin-top: 170px; }
  .zakazka-page .desc .bottom {
    margin-left: 330px;
    margin-bottom: 61px; }
  .zakazka-page .desc .boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    .zakazka-page .desc .boxes a {
      text-decoration: none; }
    .zakazka-page .desc .boxes .item {
      height: 140px;
      width: 270px;
      background-color: #191919;
      margin-right: 20px;
      color: #FFFFFF;
      font-family: mavenProMedium;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 25px;
      position: relative; }
      .zakazka-page .desc .boxes .item:hover {
        cursor: pointer;
        -webkit-filter: grayscale(100%);
        color: gray; }
      .zakazka-page .desc .boxes .item .line {
        position: absolute;
        top: 0px;
        left: 30px;
        border-left: 1px solid #C63535;
        height: 86px; }
      .zakazka-page .desc .boxes .item:last-child {
        margin-right: 0px; }

.foto-kluk {
  max-width: 831px !important;
  margin-top: -87px; }

.text-page .header-box {
  width: 100%;
  height: 290px;
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .text-page .header-box .logo {
    max-width: 947px;
    color: #FFFFFF;
    font-family: mavenProMedium;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 45px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-left: -205px;
    padding-bottom: 66px;
    padding-top: 39px; }
  .text-page .header-box .title {
    max-width: 947px;
    color: #FFFFFF;
    font-family: mavenProMedium;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 45px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 66px; }
.text-page .content {
  width: 100%;
  display: flex;
  justify-content: center; }
  .text-page .content .title {
    margin-top: 51px;
    margin-bottom: 50px;
    color: #000000;
    font-family: mavenProBold;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px; }
  .text-page .content .text {
    max-width: 947px;
    color: #000;
    font-family: mavenProRegular;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px; }
    .text-page .content .text p:first-child {
      margin-top: 47px; }

.modal-potvrzeni {
  z-index: 500;
  background-color: #000000;
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
  width: 100%; }
  .modal-potvrzeni .modal-content {
    display: flex;
    position: absolute; }
    .modal-potvrzeni .modal-content .content {
      height: 518px;
      width: 946px;
      background-color: #000000; }
    .modal-potvrzeni .modal-content .close-modal {
      position: absolute;
      top: 30px;
      right: 30px; }
      .modal-potvrzeni .modal-content .close-modal:hover {
        cursor: pointer; }
    .modal-potvrzeni .modal-content .logo {
      position: absolute;
      top: 52px;
      left: 52px; }
    .modal-potvrzeni .modal-content .title {
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 45px;
      margin-top: 181px;
      margin-left: 96px; }
    .modal-potvrzeni .modal-content .text {
      color: #FFFFFF;
      font-family: mavenProRegular;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 25px;
      margin-left: 96px;
      margin-top: 50px; }

.confirmation .text {
  width: 100%; }

@media only screen and (max-width: 1439px) {
  .zakazka-page .box-content {
    margin-right: 0px; }

  .about .box .right, .desc .box .right {
    margin-left: -370px; }
  .about .bottom .btn, .desc .bottom .btn {
    margin-left: 430px; } }
@media only screen and (max-width: 1312px) {
  .about .box .right, .desc .box .right {
    margin-left: -425px; }
  .about .bottom .btn, .desc .bottom .btn {
    margin-left: 370px; } }
@media only screen and (max-width: 1250px) {
  #mainPageLogoAbout {
    display: none; }

  .zakazka-page .box-content .right img {
    max-width: 730px; }

  .text-page {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .text-page .header-box .logo {
      margin-left: 0px;
      max-width: 80%; }
    .text-page .header-box .title {
      max-width: 80%; }
    .text-page .content {
      width: 80%;
      max-width: 80%; } }
@media only screen and (max-width: 1205px) {
  .zakazka-page .desc .box .content {
    margin-top: 0px; }

  .about .box, .desc .box {
    flex-direction: column; }
    .about .box .right, .desc .box .right {
      margin-left: 0px; }
  .about .bottom, .desc .bottom {
    margin-left: 0px; }

  .zakazka-page .main .box {
    padding-bottom: 30px; }
    .zakazka-page .main .box .box-content .right img {
      max-width: 500px; }
  .zakazka-page .desc .boxes {
    max-width: 600px;
    justify-content: center; }
    .zakazka-page .desc .boxes .item {
      margin-bottom: 20px;
      margin-right: 0px;
      margin-left: 20px; }
  .zakazka-page .desc .bottom {
    margin-left: 0px; } }
@media only screen and (max-width: 1146px) {
  .zakazka-page .box-content {
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
    .zakazka-page .box-content .left {
      padding-bottom: 30px; } }
@media only screen and (max-width: 1130px) {
  .reference-page .box-content .slider {
    width: 100%; }
    .reference-page .box-content .slider .title {
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 30px;
      text-align: center;
      margin-left: 0px;
      margin-top: 37px;
      justify-content: center; }
    .reference-page .box-content .slider .arrow-left img, .reference-page .box-content .slider .arrow-right img {
      height: 33.94px;
      width: 19.8px; }
    .reference-page .box-content .slider .images {
      position: relative;
      margin-top: 30px;
      display: flex;
      justify-content: center; }
      .reference-page .box-content .slider .images img {
        display: none; }
        .reference-page .box-content .slider .images img:nth-child(-n+4) {
          display: none; }
        .reference-page .box-content .slider .images img:first-of-type {
          display: block; } }
@media only screen and (max-width: 970px) {
  .about .box, .desc .box {
    width: 80%; }
    .about .box .left, .desc .box .left {
      width: 100%;
      display: flex;
      justify-content: center; }
      .about .box .left .content, .desc .box .left .content {
        margin-top: 0px; }
    .about .box .right, .desc .box .right {
      width: 100%;
      display: flex;
      justify-content: center; }
      .about .box .right img, .desc .box .right img {
        max-width: 700px; }

  .zakazka-page .desc .bottom {
    margin-left: 0px; } }
@media (max-width: 800px) {
  .hamburger {
    display: block !important;
    position: absolute;
    top: 30px;
    right: 30px; }

  .button-red {
    height: 48.28px;
    width: 175px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px; }

  .production {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 110px; }
    .production .left {
      width: 100%;
      margin-top: 0px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .production .left iframe {
        width: 90%;
        height: auto;
        margin-top: 15px; }
    .production .right {
      width: 80%;
      margin-left: 0px;
      position: relative; }
      .production .right .title {
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 58px;
        width: 100%; }
      .production .right .content {
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px; }
      .production .right .btn-form {
        display: flex;
        width: 100%;
        justify-content: center; }
      .production .right .btn {
        position: absolute;
        bottom: -250px; }

  .main {
    /* &:after{
       content: "";
       display: block;
       width: 100%;
       height: 100%;
       position:absolute;
       top:0;
       left:0;
       background-color: black;
     }*/ }
    .main.cover {
      background-image: none;
      background-color: black;
      min-height: 560px; }
    .main .mobile-cover {
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("/images/4everin_foto_mobile.jpg");
      background-blend-mode: overlay;
      background-position: 0px 35px;
      min-height: 550px; }
    .main .box {
      margin-top: 0px;
      width: 100%;
      justify-items: center; }
      .main .box .title {
        width: 100%;
        margin-right: 0px; }
        .main .box .title .content {
          flex-direction: row;
          justify-content: center;
          font-size: 30px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 37px;
          text-align: center;
          margin-top: 120px; }
      .main .box .cards {
        display: none; }
      .main .box .row .left img {
        margin-top: 30px;
        margin-left: 54px;
        width: 130px;
        height: 32px; }
      .main .box .row .right {
        display: none; }
      .main .box .box-content .left .title {
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 30px;
        text-align: center; }
      .main .box .box-content .right img {
        width: 300px; }

  .about .box, .desc .box {
    width: 100%;
    align-items: center; }
    .about .box .left, .desc .box .left {
      width: 80%; }
      .about .box .left .title, .desc .box .left .title {
        margin-top: 35px;
        font-size: 25px;
        letter-spacing: 0;
        line-height: 58px; }
      .about .box .left .content, .desc .box .left .content {
        margin-top: 0px;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px; }
        .about .box .left .content ul, .desc .box .left .content ul {
          margin-top: 5px; }
    .about .box .right img, .desc .box .right img {
      max-width: 100%;
      width: 100%;
      height: auto;
      align-self: flex-start; }
  .about .bottom, .desc .bottom {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }
    .about .bottom .button-red, .desc .bottom .button-red {
      margin-left: 0px; }

  .zakazka-page .main .box {
    padding-bottom: 0px; }
    .zakazka-page .main .box .box-content .left {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .zakazka-page .main .box .box-content .left .title {
        width: 70%;
        margin-right: 0px;
        margin-bottom: 0px;
        height: auto; }
      .zakazka-page .main .box .box-content .left .subtitle {
        display: none; }
      .zakazka-page .main .box .box-content .left .button-red {
        margin-top: 20px; }
  .zakazka-page .about .bottom, .zakazka-page .desc .bottom {
    width: 80%; }
  .zakazka-page .about .box .left .content, .zakazka-page .desc .box .left .content {
    height: 423px;
    width: 276px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    height: auto; }
  .zakazka-page .about .right img, .zakazka-page .desc .right img {
    max-width: 400px; }
  .zakazka-page .about .boxes, .zakazka-page .desc .boxes {
    display: none; }

  .footer {
    margin-top: 40px; }
    .footer .box {
      width: 80%;
      background-image: none; }
      .footer .box img {
        height: 33px;
        width: 134px; }
      .footer .box .content {
        display: flex;
        flex-direction: column-reverse; }
        .footer .box .content .col {
          font-size: 14px;
          letter-spacing: 0;
          line-height: 20px; }
          .footer .box .content .col .con img {
            height: 15.84px;
            width: 15.84px; }
          .footer .box .content .col .title {
            margin-bottom: 5px; }
          .footer .box .content .col.col4 .icon {
            width: 20px;
            height: 20px;
            margin-right: 8px; }
        .footer .box .content .col3 {
          display: none; }

  .footer-logo {
    margin-top: 30px;
    text-align: left; }
    .footer-logo .copyright {
      padding-left: 15px;
      text-align: left;
      width: 70%; }
    .footer-logo .matfix-logo {
      padding-right: 0px; }

  .eshop-page .step {
    font-size: 16px;
    line-height: 45px;
    width: 100%;
    max-width: 100%; }
  .eshop-page .order .box {
    width: 90%;
    margin-top: 20px; }
    .eshop-page .order .box .box-item {
      max-width: 100%;
      width: 100%; }
      .eshop-page .order .box .box-item .text {
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px; }
      .eshop-page .order .box .box-item.step-4 {
        max-width: 100%; }
  .eshop-page .delivery .box {
    width: 90%;
    margin-top: 0px; }
    .eshop-page .delivery .box .box-item {
      width: 100%; }
      .eshop-page .delivery .box .box-item .btn {
        width: 100%;
        display: flex;
        justify-content: center; }
      .eshop-page .delivery .box .box-item .total-price {
        padding: 3px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        height: 24px;
        font-size: 14px;
        line-height: 17px; }
  .eshop-page .main .box {
    align-items: center; }
    .eshop-page .main .box .top {
      width: 100%; }
    .eshop-page .main .box .box-content {
      width: 100%;
      align-items: center; }
      .eshop-page .main .box .box-content .head-text {
        background-image: none;
        margin-left: 0px;
        width: 80%; }
        .eshop-page .main .box .box-content .head-text .title {
          margin-top: 15px;
          max-width: 50%;
          font-size: 20px;
          line-height: 25px; }
        .eshop-page .main .box .box-content .head-text .subtitle {
          margin-top: 5px;
          font-size: 14px;
          line-height: 20px; }
      .eshop-page .main .box .box-content .items {
        justify-content: space-between; }
        .eshop-page .main .box .box-content .items .item {
          margin-top: 3px;
          height: 83px;
          width: 49.5%; }
          .eshop-page .main .box .box-content .items .item .view-orig {
            right: 2px;
            width: 16px;
            height: 16px; }
          .eshop-page .main .box .box-content .items .item .item-wrap {
            height: 83px;
            width: 100%;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-right: 0px;
            padding-left: 0px; }
            .eshop-page .main .box .box-content .items .item .item-wrap img {
              height: 42px;
              width: 60px; }
            .eshop-page .main .box .box-content .items .item .item-wrap .sample {
              width: 100%;
              height: 100%; }
            .eshop-page .main .box .box-content .items .item .item-wrap .text .left {
              font-size: 12px;
              letter-spacing: 0;
              line-height: 13px;
              padding-left: 5px; }
            .eshop-page .main .box .box-content .items .item .item-wrap .text .right {
              font-size: 12px;
              line-height: 18px;
              padding-right: 5px; }

  .reference-page .main .box .box-content {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-direction: column; }
    .reference-page .main .box .box-content .slider {
      width: 100%; }
      .reference-page .main .box .box-content .slider .title {
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 30px;
        text-align: center;
        margin-left: 0px;
        margin-top: 37px;
        justify-content: center; }
      .reference-page .main .box .box-content .slider .arrow-left img, .reference-page .main .box .box-content .slider .arrow-right img {
        height: 33.94px;
        width: 19.8px; }
      .reference-page .main .box .box-content .slider .images {
        position: relative;
        margin-top: 30px;
        display: flex;
        justify-content: center; }
        .reference-page .main .box .box-content .slider .images img {
          display: none; }
          .reference-page .main .box .box-content .slider .images img:first-of-type {
            display: block; }
  .reference-page .box-reference .clients {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .reference-page .box-reference .clients .title {
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 30px;
      margin-left: 0px;
      margin-top: 35px; }
    .reference-page .box-reference .clients .list .item {
      margin-top: 24px;
      max-width: 30%;
      height: auto; }

  .input-group input {
    margin-top: 5px;
    height: 30px; }

  .chck input {
    width: 14px;
    height: 14px; }

  .foto-kluk {
    margin-top: -30px; }

  .contact-page .main .box .box-content {
    margin-top: 37px;
    padding-bottom: 0px; }
    .contact-page .main .box .box-content .left {
      width: 80%;
      margin-bottom: 30px;
      height: auto; }
      .contact-page .main .box .box-content .left .title {
        font-size: 25px;
        letter-spacing: 0;
        line-height: 30px;
        display: flex;
        justify-content: center; }
      .contact-page .main .box .box-content .left .subtitle {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 18px;
        margin-bottom: 5px;
        margin-top: 20px; }
      .contact-page .main .box .box-content .left .text {
        font-size: 14px;
        letter-spacing: 0;
        line-height: 32px; }
        .contact-page .main .box .box-content .left .text img {
          width: 17px;
          height: 17px; }
    .contact-page .main .box .box-content .right {
      display: contents; }
      .contact-page .main .box .box-content .right iframe {
        width: 100%;
        height: 400px; }

  .modal-potvrzeni .modal-content .content {
    width: 100%;
    height: 430px; }
    .modal-potvrzeni .modal-content .content .logo {
      width: 120px; }
    .modal-potvrzeni .modal-content .content .title {
      margin-left: 50px;
      font-size: 29px;
      margin-top: 120px; }
    .modal-potvrzeni .modal-content .content .text {
      margin-left: 50px;
      font-size: 29px;
      font-size: 16px; } }

/*# sourceMappingURL=css.css.map */
