body {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

@font-face {
  font-family: mavenProRegular;
  src: url('fonts/MavenPro-Regular.ttf');
}

@font-face {
  font-family: mavenProBold;
  src: url('fonts/MavenPro-Bold.ttf');
}

@font-face {
  font-family: mavenProSemiBold;
  src: url('fonts/MavenPro-SemiBold.ttf');
}

@font-face {
  font-family: mavenProMedium;
  src: url('fonts/MavenPro-Medium.ttf');
}

$red: #C63535;

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: black;
    text-decoration: underline;
  }

  &:visited {
    color: black;
    text-decoration: none;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.button-upload {
  border: none;
  outline: none;
  height: 40px;
  width: 75px;
  background-color: #7F7F7F;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 0;
  background-image: url("/images/download.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    cursor: pointer;
  }
}

.button-upload-success {
  border: none;
  outline: none;
  height: 40px;
  width: 75px;
  background-color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 0;
  background-image: url("/images/done.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    cursor: pointer;
  }
}

.button-upload-error {
  border: none;
  outline: none;
  height: 40px;
  width: 75px;
  background-color: #C63535;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 0;
  background-image: url("/images/close_button.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    cursor: pointer;
  }
}

.upload-group {
  position: relative;

  &.error{
    input{
      border-color: $red;
    }
  }
}

.button-red {
  border: none;
  outline: none;
  height: 55px;
  width: 200px;
  background-color: $red;
  font-family: mavenProRegular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;

  &:hover {
    cursor: pointer;
    background-color: #991D1D;
  }
}

.link-red {
  border: none;
  outline: none;
  height: 40px;
  width: 135px;
  background-color: $red;
  font-family: mavenProRegular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;

  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    background-color: #991D1D;
    font-family: mavenProBold;
    color: white;
  }

  &:visited {
    color: white;
  }

  &:active {
    color: white;
  }

}

.mobile-menu {
  z-index: 50;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  background: black;
  display: none;

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
      position: absolute;
      left: 23px;
      top: 30px;
      height: 32px;
      width: 130px;
    }

    .items {
      margin-top: 82px;
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;

      a {
        color: #FFFFFF;
        font-family: mavenProMedium;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 40px;
        text-decoration: none;

        &:visited {
          color: #FFFFFF;
        }

        &:active {
          color: #FFFFFF;
        }
      }
    }

  }


  .close {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}


.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &.cover {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/Cover foto.jpg");
    background-blend-mode: overlay;
  }

  &.empty {
    background-color: #000000;
  }

  .box {
    margin-top: 39px;
    width: 1140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .top {
      justify-content: space-between;
    }


    .right {
      .contact {
        color: #7F7F7F;
        font-family: mavenProRegular;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 30px;
        text-align: right;

        a {
          color: #7F7F7F;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          &:visited, &:active {
            color: #7F7F7F;
            text-decoration: none;
          }
        }
      }

      .menu {
        color: #FFFFFF;
        font-family: mavenProRegular;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 58px;
        text-align: right;

        a {
          color: #FFFFFF;
          text-decoration: none;
          margin-left: 30px;

          &:visited, &:active {
            color: #FFFFFF;
            text-decoration: none;
          }

          &:hover {
            color: $red;
          }
        }
      }
    }


    .title {
      margin-top: 171px;
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 58px;
      display: flex;
      justify-content: flex-end;
      margin-right: 104px;

      .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .btn {
          margin-top: 25px;
        }
      }
    }

    .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0;
      max-width: 1290px;
      justify-content: space-between;

      .item {
        font-family: mavenProMedium;
        height: 140px;
        width: 270px;
        background-color: #191919;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-right: 22.5px;
        position: relative;

        &:hover {
          cursor: pointer;
          -webkit-filter: grayscale(100%);
          color: gray;
        }


        .line {
          position: absolute;
          top: 0px;
          left: 30px;
          border-left: 1px solid #C63535;
          height: 86px;
        }

        a {
          color: #FFFFFF;
          font-family: mavenProMedium;
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 25px;
          text-decoration: none;

          &:hover {
            color: gray;
          }

          &:active, :visited {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.about, .desc {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .box {
    display: flex;
    flex-direction: row;
    width: 950px;

    .left {
      width: 600px;
      z-index: 100;
      display: flex;
      flex-direction: column;
    }

    .right {
      z-index: -1;
      width: 450px;
      margin-left: -310px;
      margin-top: 43px;

      img {
        width: 892px;
        height: 596px;
      }
    }


    .title {
      color: #000000;
      font-family: mavenProRegular;
      font-size: 40px;
      font-weight: 900;
      margin-top: 100px;
      letter-spacing: 0;
      line-height: 58px;
      //  font-weight: bold;
    }

    .content {
      margin-top: 19px;
      max-width: 454px;
      color: #000000;
      font-family: mavenProRegular;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 25px;


    }
  }

  .bottom {
    width: 950px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 114px;

    .btn {
      margin-left: 480px;
    }
  }
}

.production {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
  padding-bottom: 52px;

  .left {
    margin-top: 185px;
  }

  .right {
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      width: 100%;
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 58px;
      margin-top: 38px;
    }

    .content {
      max-width: 560px;
      color: #FFFFFF;
      font-family: mavenProRegular;
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 0;
      line-height: 25px;

    }

    .btn {
      margin-top: 42px;
    }
  }
}

.list {
  padding-left: 25px;
  margin-top: -20px;
}

.quote {
  font-family: mavenProSemiBold;
}

.footer {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;


  .box {
    background-size: 267px 78px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("/images/Slogan_paticka.svg");

    .content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }

    .col {
      margin-top: 25px;
      width: 285px;
      font-family: mavenProRegular;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 18px;
      display: flex;
      flex-direction: column;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 27px;

      .con {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          margin-right: 4px;
        }
      }

      .title {
        color: #000000;
        font-family: mavenProSemiBold;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 18px;
        margin-bottom: 15px;
      }

      a {
        color: #000000;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:visited, :active {
          color: #000000;
        }
      }

      &.col4 {

        .icon {
          margin-right: 8px;
        }

        .row {
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }


    }

    .col1 {

      line-height: 20px;

      .gray {
        color: #DBDBDB;
      }

      .row {
        margin-bottom: 10px;
      }
    }
  }
}

.footer-logo {
  margin-top: 20px;
  height: 30px;
  width: 100%;
  color: #9B9B9B;
  font-family: mavenProRegular;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;

  .copyright {
    text-align: center;
    width: 100%;
  }

  .matfix-logo {
    text-align: right;
    margin-left: auto;
    margin-right: 14px;
    margin-bottom: 14px;

    img {
      max-width: 50px;
    }

    span {
      font-size: 9px;
      line-height: 9px;
      color: #D8D8D8;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.reference-page {


  display: flex;
  flex-direction: column;
  color: #FFFFFF;


  .box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;

    .title {
      justify-content: flex-start;
      margin-left: 100px;
      font-family: mavenProMedium;
      margin-top: 92px;
    }

    .slider {
      max-width: 1120px;

      .arrow-wrap {
        display: flex;
        justify-content: center;
      }

      .arrow-left {
        margin-top: 100px;
      }

      .arrow-right {
        margin-top: 100px;
      }

      .images {
        margin-top: 76px;


        img {
          display: none;
          width: 260px;
          height: 170px;

          &:nth-child(-n+4) {
            display: inline;
          }
        }
      }
    }
  }

  .box-reference {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 180px;

    .title {
      justify-content: flex-start;
      color: black;
      margin-left: 100px;
      font-family: mavenProMedium;
    }
  }

  .clients {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    .list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0;
      margin-top: 29px;
      justify-content: center;
    }

    .item {
      width: 186px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 47px;

      img {
        max-width: 85%;
      }
    }
  }

  .title {
    justify-content: flex-start;
    margin-top: 92px;
    color: #FFFFFF;
    font-family: mavenProMedium;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 45px;
  }
}

.eshop-page {


  display: flex;
  flex-direction: column;
  color: #FFFFFF;

  .main {
    .box {
      width: 1160px;;
    }
  }

  .step {
    width: 399px;
    color: #C63535;
    font-family: mavenProMedium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 58px;
  }


  .box-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;

    .head-text {
      margin-left: 150px;
      background-position: right;
      background-repeat: no-repeat;
      background-image: url("/images/4everin_nahledfoto_objednavka.png");
      background-blend-mode: overlay;
      background-size: 360px;
    }

    .title {
      margin-top: 55px;
      justify-content: flex-start;
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 30px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 58px;
    }

    .subtitle {
      max-width: 656px;;
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 26px;
    }

    .items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      //justify-content: center;
      align-items: center;


      .selected-icon {
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;

        img {
          width: 66px;
          height: 51px;
        }
      }

      .item {
        position: relative;

        .body {
          width: 90%;
          display: flex;
          align-items: center;
          flex-direction: column;
        }

        .body:hover {
          opacity: 0.2;
        }

        .link-red {

          z-index: 10;
          position: absolute;

          &:hover {
            font-weight: bold;
            text-decoration: none;
          }
        }

        .view-orig {
          position: absolute;
          top: 9px;
          right: 29px;
          z-index: 10;
        }
      }

      .item-wrap {
        height: 125px;
        width: 244px;
        background-color: #191919;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-right: 20px;
        position: relative;


        img {
          max-width: 100px;
          max-height: 72px;
        }

        .sample {
          max-width: 100%;
          max-height: 100%;
          width: 100%;
          height: 100%;
          display: none;
        }

        .text {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;

          .left {
            .bold {
              font-family: mavenProSemiBold;
              display: block;
            }

            color: #7F7F7F;
            font-family: mavenProRegular;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 18px;
          }

          .right {
            color: #FFFFFF;
            font-family: mavenProBold;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 18px;
            display: flex;
            align-items: flex-end;
          }
        }
      }

      .sample-div {


        //pripadne styly
      }

    }
  }

  .order {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    padding-bottom: 45px;

    .box {
      color: black;
      width: 950px;
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .box-item {
        max-width: 367px;


        .text {
          color: #000000;
          font-family: mavenProRegular;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 20px;
        }

        &.step-4 {
          width: 100%;
          margin-top: 15px;
        }


        .select-font {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
    }
  }

  .delivery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 54px;

    .box {
      color: black;
      width: 950px;
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .box-item {
        //max-width: 367px;

        .ordered-items {

          .ordered-item {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            position: relative;
            margin-bottom: 14px;

            .chevrons {
              display: flex;
              flex-direction: column;
              height: 100%;
              margin-left: 88px;
              position: absolute;
              justify-content: space-between;
              //padding-top: 10px;
              //padding-bottom: 30px;

              .up {
                padding-top: 10px;

                &:hover {
                  cursor: pointer;
                }
              }

              .down {
                padding-bottom: 10px;

                &:hover {
                  cursor: pointer;
                }
              }

              img {
                height: 7.42px;
                width: 12.02px;
              }
            }


            .text {

              color: #7F7F7F;
              font-family: mavenProRegular;
              font-size: 16px;
              letter-spacing: 0;
              line-height: 18px;
              position: absolute;
              left: 88px;

              &.chevron {
                left: 105px;
              }

              .title {
                font-family: mavenProBold;
                margin-bottom: 3px;
                color: #000;
              }
            }

            .price {
              color: #000000;
              font-family: mavenProBold;
              font-size: 16px;
              letter-spacing: 0;
              line-height: 18px;
              text-align: right;;

              .desc {
                font-family: mavenProRegular;
              }
            }

            .image {
              width: 67px;
              height: 46px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            img {

              height: 46px;
              width: 67px;
            }

            .d {
              width: 48px;
              height: 30px;
            }


          }
        }

        .chck {
          margin-top: 5px;
        }

        .step {
          margin-top: 15px;
        }

        .item-row {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;

          .price {
            color: #000000;
            font-family: mavenProRegular;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 20px;
            text-align: right;
          }
        }

        .text {
          color: #000000;
          font-family: mavenProRegular;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 20px;
        }

        &.step-4 {
          width: 100%;
        }

        .button-red {
          margin-top: 68px;
          width: 270px;
        }

        .total-price {
          background-color: #191919;
          font-family: mavenProBold;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 18px;
          color: white;
          padding: 11px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 30px
        }


        .select-font {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
    }
  }


}

input, textarea {
  padding-left: 10px;
  font-size: 15px;

  &::placeholder {
    background-color: #FFFFFF;
    font-family: mavenProRegular;
    font-size: 15px;
  }
}

textarea {
  padding-top: 11px;
}

.text-input {
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #7F7F7F;
  border-radius: 0;
  padding-left: 10px;
  margin-top: 14px;
  width: 100%;

}

.chck {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  align-items: center;

  input {
    height: 24px;
    width: 24px;
    margin-right: 15px;
  }

  color: #000000;
  font-family: mavenProRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.input-group {
  color: #000000;
  font-family: mavenProRegular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    //width: 365px;
    border: 1px solid #7F7F7F;
    background-color: #FFFFFF;
    padding-left: 10px;
    font-family: mavenProRegular;
    font-size: 15px;

    &::placeholder {
      background-color: #FFFFFF;
      font-family: mavenProRegular;
      font-size: 15px;
    }
  }
}

.contact-page {


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #FFFFFF;

  .main {
    width: 100%;
  }

  .box-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 92px;

    .left {
      width: 400px;
      height: 100%;
    }

    .right {
      width: 650px;
      height: 650px;

      iframe {
        width: 100%;
        height: 100%;
      }
    }


    .title {
      justify-content: flex-start;
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 45px;
      margin-top: 0px;
    }

    .subtitle {
      color: #FFFFFF;
      font-family: mavenProBold;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 18px;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .text {
      width: 200px;
      color: #FFFFFF;
      font-family: mavenProRegular;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 32px;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: white;
          text-decoration: underline;
        }

        &:visited {
          color: white;
          text-decoration: none;
        }
      }

      img {
        margin-right: 12px;
      }
    }

    .technic-specs {
      color: #7F7F7F;

      a {
        color: #7F7F7F;
        text-decoration: none;

        &:visited {
          color: #7F7F7F;
          text-decoration: none;
        }

        &:hover {
          color: #7F7F7F;
          text-decoration: underline;
        }
      }
    }

  }
}

.zakazka-page {

  .box-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: -60px;
    margin-top: 65px;

    .left {
      max-width: 400px;

      .title {
        margin-top: 0px;
        height: 151px;
        width: 399px;
        color: #FFFFFF;
        font-family: mavenProMedium;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 45px;
      }

      .subtitle {
        max-width: 269px;
        color: #7F7F7F;
        font-family: mavenProMedium;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 25px;
      }

      .button-red {
        margin-top: 44px;
      }
    }

    .right {
      max-width: 750px;

      img {
        max-width: 750px;
      }
    }
  }

  .desc {

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    .box {

      .content {
        margin-top: 170px;
      }
    }

    .bottom {
      margin-left: 330px;
      margin-bottom: 61px;
    }

    .boxes {
      //margin-top: 61px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      a {
        text-decoration: none;
      }

      .item {
        height: 140px;
        width: 270px;
        background-color: #191919;
        margin-right: 20px;
        color: #FFFFFF;
        font-family: mavenProMedium;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 25px;
        position: relative;

        &:hover {
          cursor: pointer;
          -webkit-filter: grayscale(100%);
          color: gray;
        }


        .line {
          position: absolute;
          top: 0px;
          left: 30px;
          border-left: 1px solid #C63535;
          height: 86px;
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }

  }
}

.foto-kluk {
  max-width: 831px !important;
  margin-top: -87px;
}

.text-page {

  .header-box {
    width: 100%;
    height: 290px;
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .logo {
      max-width: 947px;
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 45px;
      width: 100%;
      display: flex;
      align-items: flex-start;
      margin-left: -205px;
      padding-bottom: 66px;
      padding-top: 39px;
    }

    .title {
      max-width: 947px;
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 45px;
      width: 100%;
      display: flex;
      align-items: flex-end;
      padding-bottom: 66px;
    }


  }

  .content {
    width: 100%;
    display: flex;
    justify-content: center;

    .title {
      margin-top: 51px;
      margin-bottom: 50px;

      color: #000000;
      font-family: mavenProBold;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 25px;
    }

    .text {
      max-width: 947px;
      color: #000;
      font-family: mavenProRegular;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 25px;

      p:first-child {
        margin-top: 47px;
      }
    }
  }
}

.modal-potvrzeni {
  z-index: 500;
  background-color: #000000;
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
  width: 100%;

  .modal-content {
    display: flex;
    position: absolute;


    .content {

      height: 518px;
      width: 946px;
      background-color: #000000;
    }

    .close-modal {
      position: absolute;
      top: 30px;
      right: 30px;

      &:hover {
        cursor: pointer;
      }


    }

    .logo {
      position: absolute;
      top: 52px;
      left: 52px;
    }

    .title {
      color: #FFFFFF;
      font-family: mavenProMedium;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 45px;
      margin-top: 181px;
      margin-left: 96px;
    }

    .text {
      color: #FFFFFF;
      font-family: mavenProRegular;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 25px;
      margin-left: 96px;
      margin-top: 50px;
    }
  }
}

.confirmation{
  .text{
    width: 100%;
  }
}


@media only screen and (max-width: 1439px) {

  .zakazka-page {
    .box-content {
      margin-right: 0px;
    }
  }

  .about, .desc {

    .box {
      .right {
        margin-left: -370px;
      }
    }

    .bottom {

      .btn {
        margin-left: 430px;
      }
    }
  }

}

@media only screen and (max-width: 1312px) {
  .about, .desc {
    .box {
      .right {
        margin-left: -425px;
      }
    }

    .bottom {

      .btn {
        margin-left: 370px;
      }
    }
  }
}

@media only screen and (max-width: 1250px) {

  #mainPageLogoAbout {
    display: none;
  }

  .zakazka-page {
    .box-content {
      .right {
        img {
          max-width: 730px;
        }
      }
    }
  }

  .text-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-box {


      .logo {
        margin-left: 0px;
        max-width: 80%;
      }

      .title {
        max-width: 80%;
      }


    }

    .content {
      width: 80%;
      max-width: 80%;

      .text {

      }
    }
  }

}

@media only screen and (max-width: 1205px) {


  .zakazka-page {

    .desc {

      .box {

        .content {
          margin-top: 0px;
        }
      }
    }
  }

  .about, .desc {

    .box {

      flex-direction: column;

      .right {
        margin-left: 0px;
      }
    }

    .bottom {
      margin-left: 0px;
    }
  }


  .zakazka-page {

    .main {
      .box {
        .box-content {
          .right {
            img {
              max-width: 500px;
            }
          }
        }

        padding-bottom: 30px;
      }
    }

    .desc {
      .boxes {
        max-width: 600px;
        justify-content: center;

        .item {
          margin-bottom: 20px;
          margin-right: 0px;
          margin-left: 20px;
        }
      }

      .bottom {
        margin-left: 0px;
      }
    }
  }
}

@media only screen and (max-width: 1146px) {
  .zakazka-page {
    .box-content {
      justify-content: center;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      .left {
        padding-bottom: 30px;
      }
    }
  }
}

@media only screen and (max-width: 1130px) {

  .reference-page {

    .box-content {

      .slider {
        width: 100%;


        .title {
          font-size: 25px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 30px;
          text-align: center;
          margin-left: 0px;
          margin-top: 37px;
          justify-content: center;
        }

        .arrow-left, .arrow-right {
          img {
            height: 33.94px;
            width: 19.8px;
          }
        }

        .images {

          position: relative;

          margin-top: 30px;
          display: flex;
          justify-content: center;

          img {
            display: none;

            &:nth-child(-n+4) {
              display: none;
            }

            &:first-of-type {
              display: block;
            }
          }


        }
      }
    }
  }
}

@media only screen and (max-width: 970px) {
  .about, .desc {

    .box {
      width: 80%;

      .left {
        width: 100%;
        display: flex;
        justify-content: center;

        .content {
          margin-top: 0px;
        }
      }

      .right {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
          max-width: 700px;
        }
      }
    }
  }

  .zakazka-page {

    .desc {
      .bottom {
        margin-left: 0px;
      }
    }
  }
}

@media (max-width: 800px) {

  .hamburger {
    display: block !important;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .button-red {
    height: 48.28px;
    width: 175px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
  }

  .production {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 110px;

    .left {
      width: 100%;
      margin-top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;

      iframe {
        width: 90%;
        height: auto;
        margin-top: 15px;
      }
    }

    .right {
      width: 80%;
      margin-left: 0px;
      position: relative;

      .title {
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 58px;
        width: 100%;
      }

      .content {
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
      }

      .btn-form {
        display: flex;
        width: 100%;
        justify-content: center;
      }

      .btn {
        position: absolute;
        //top: 715px;
        bottom: -250px
      }

    }
  }

  .main {

    /* &:after{
       content: "";
       display: block;
       width: 100%;
       height: 100%;
       position:absolute;
       top:0;
       left:0;
       background-color: black;
     }*/

    &.cover {
      background-image: none;
      background-color: black;
      min-height: 560px;

    }

    .mobile-cover {
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("/images/4everin_foto_mobile.jpg");
      background-blend-mode: overlay;
      background-position: 0px 35px;
      min-height: 550px;
    }


    .box {
      margin-top: 0px;
      width: 100%;
      justify-items: center;

      .title {
        width: 100%;
        margin-right: 0px;

        .content {
          flex-direction: row;
          justify-content: center;
          font-size: 30px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 37px;
          text-align: center;
          margin-top: 120px;
        }
      }

      .cards {
        display: none;
      }

      .row {

        .left {


          img {
            margin-top: 30px;
            margin-left: 54px;
            width: 130px;
            height: 32px;
          }
        }

        .right {
          display: none;
        }
      }

      .box-content {

        .left {
          .title {
            font-size: 25px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 30px;
            text-align: center;
          }
        }

        .right {
          img {
            width: 300px;
          }
        }
      }
    }
  }

  .about, .desc {


    .box {

      width: 100%;
      align-items: center;

      .left {
        width: 80%;


        .title {
          margin-top: 35px;
          font-size: 25px;
          letter-spacing: 0;
          line-height: 58px;
        }

        .content {
          margin-top: 0px;
          font-size: 14px;
          letter-spacing: 0;
          line-height: 20px;

          ul {
            margin-top: 5px;
          }
        }
      }

      .right {

        img {
          max-width: 100%;
          width: 100%;
          height: auto;
          align-self: flex-start;
        }
      }
    }

    .bottom {
      width: 80%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      .button-red {
        margin-left: 0px;
      }
    }
  }

  .zakazka-page {

    .main {
      .box {
        padding-bottom: 0px;

        .box-content {
          .left {

            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
              width: 70%;
              margin-right: 0px;
              margin-bottom: 0px;
              height: auto;
            }

            .subtitle {
              display: none;
            }

            .button-red {
              margin-top: 20px;
            }
          }
        }
      }
    }

    .about, .desc {

      .bottom {
        width: 80%;
      }

      .box {
        .left {
          .content {
            height: 423px;
            width: 276px;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 20px;
            height: auto;
          }
        }
      }

      .right {

        img {
          max-width: 400px;
        }
      }


      .boxes {
        display: none;
      }
    }
  }

  .footer {
    margin-top: 40px;

    .box {
      width: 80%;
      background-image: none;

      img {
        height: 33px;
        width: 134px;
      }

      .content {

        display: flex;
        flex-direction: column-reverse;

        .col {
          font-size: 14px;
          letter-spacing: 0;
          line-height: 20px;

          .con {

            img {
              height: 15.84px;
              width: 15.84px;
            }
          }

          .title {
            margin-bottom: 5px;
          }

          &.col4 {
            .icon {
              width: 20px;
              height: 20px;
              margin-right: 8px;
            }
          }
        }

        .col3 {
          display: none;
        }
      }
    }
  }
  .footer-logo {
    margin-top: 30px;
    text-align: left;

    .copyright {
      padding-left: 15px;
      text-align: left;
      width: 70%;
    }

    .matfix-logo {
      padding-right: 0px;
    }
  }

  .eshop-page {

    .main {

    }


    .step {
      font-size: 16px;
      line-height: 45px;
      width: 100%;
      max-width: 100%;
    }


    .order {

      .box {
        width: 90%;
        margin-top: 20px;

        .box-item {
          max-width: 100%;
          width: 100%;

          .text {
            font-size: 14px;
            letter-spacing: 0;
            line-height: 20px;
          }

          &.step-4 {
            max-width: 100%;
          }
        }
      }
    }

    .delivery {
      .box {
        width: 90%;
        margin-top: 0px;

        .box-item {

          width: 100%;

          .btn {
            width: 100%;
            display: flex;
            justify-content: center;
          }


          .total-price {

            padding: 3px;
            padding-top: 5px;
            padding-left: 10px;
            padding-right: 10px;
            height: 24px;
            font-size: 14px;
            line-height: 17px;
          }
        }
      }

    }

    .main {
      .box {
        align-items: center;

        .top {
          width: 100%;
        }

        .box-content {

          width: 100%;
          align-items: center;

          .head-text {
            background-image: none;
            margin-left: 0px;
            width: 80%;

            .title {;
              margin-top: 15px;
              max-width: 50%; //kvuli zalomeni textu
              font-size: 20px;
              line-height: 25px;
            }

            .subtitle {
              margin-top: 5px;
              font-size: 14px;
              line-height: 20px;
            }
          }

          .items {
            justify-content: space-between;

            .item {
              margin-top: 3px;
              height: 83px;
              width: 49.5%;

              .view-orig {
                right: 2px;
                width: 16px;
                height: 16px;
              }


              .item-wrap {
                height: 83px;
                width: 100%;
                padding-top: 0px;
                padding-bottom: 0px;
                padding-right: 0px;
                padding-left: 0px;

                img {
                  height: 42px;
                  width: 60px;
                }

                .sample{
                  width: 100%;
                  height: 100%;
                }

                .text {
                  .left {
                    font-size: 12px;
                    letter-spacing: 0;
                    line-height: 13px;
                    padding-left: 5px;
                  }

                  .right {
                    font-size: 12px;
                    line-height: 18px;
                    padding-right: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .reference-page {
    .main {
      .box {
        .box-content {
          display: flex;
          justify-content: center;
          justify-items: center;
          width: 100%;
          align-items: center;
          align-content: center;
          flex-direction: column;

          .slider {
            width: 100%;


            .title {
              font-size: 25px;
              font-weight: 500;
              letter-spacing: 0;
              line-height: 30px;
              text-align: center;
              margin-left: 0px;
              margin-top: 37px;
              justify-content: center;
            }

            .arrow-left, .arrow-right {
              img {
                height: 33.94px;
                width: 19.8px;
              }
            }

            .images {

              position: relative;

              margin-top: 30px;
              display: flex;
              justify-content: center;

              img {
                display: none;

                &:first-of-type {
                  display: block;
                }
              }


            }
          }
        }
      }
    }

    .box-reference {
      .clients {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          font-size: 25px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 30px;
          margin-left: 0px;
          margin-top: 35px;
        }

        .list {

          .item {
            margin-top: 24px;
            max-width: 30%;
            height: auto;
          }

        }
      }
    }
  }

  .input-group {

    input {
      margin-top: 5px;
      height: 30px;
    }

  }

  .chck {
    input {
      width: 14px;
      height: 14px;
    }
  }

  .foto-kluk {
    margin-top: -30px;
  }

  .contact-page {

    .main {
      .box {
        .box-content {
          margin-top: 37px;
          padding-bottom: 0px;

          .left {
            width: 80%;
            margin-bottom: 30px;
            height: auto;

            .title {
              font-size: 25px;
              letter-spacing: 0;
              line-height: 30px;
              display: flex;
              justify-content: center;
            }

            .subtitle {
              font-size: 16px;
              font-weight: bold;
              letter-spacing: 0;
              line-height: 18px;
              margin-bottom: 5px;
              margin-top: 20px;
            }

            .text {
              font-size: 14px;
              letter-spacing: 0;
              line-height: 32px;

              img {
                width: 17px;
                height: 17px;
              }
            }
          }

          .right {
            display: contents;

            iframe {
              width: 100%;
              height: 400px;
            }
          }
        }
      }
    }
  }

  .modal-potvrzeni {
    .modal-content {
      .content {

        .logo {
          width: 120px;
        }

        .title {
          margin-left: 50px;
          font-size: 29px;
          margin-top: 120px;
        }

        .text {
          margin-left: 50px;
          font-size: 29px;
          font-size: 16px;
        }

        width: 100%;
        height: 430px;
      }
    }
  }
}



