<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0DCY0EGGKW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-0DCY0EGGKW');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/jquery.js"></script>
    <script src="/js/scripts.js"></script>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <title>4EVER IN{% if title is defined %}| {{ title }}{% endif %}</title>
    <meta property="og:title" content="4EVER IN{% if title is defined %}| {{ title }}{% endif %}">
    <meta property="og:description"
          content="{% if description is defined %}| {{ description }}{% endif %}">
    <meta property="og:image" content="https://4everin.cz/images/Logo_4everin.svg">

    <meta name="twitter:title" content="{% if title is defined %}| {{ title }}{% endif %}">
    <meta name="twitter:description"
          content="{% if description is defined %}| {{ description }}{% endif %}">
    <meta name="twitter:image" content="https://4everin.cz/images/Logo_4everin.svg">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="description"
          value="{% if description is defined %}| {{ description }}{% endif %}">
    <meta name="keywords" value="{% if keywords is defined %}| {{ keywords }}{% endif %}">
    {% block stylesheets %}
    {% endblock %}

    <link rel="stylesheet" href="{{ asset('css/css.css') }}">
    <link rel="stylesheet" href="{{ asset('css/alerts.css') }}">
    <!-- Facebook Pixel Code --><script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '194000335688891'); fbq('track', 'PageView');</script><noscript> <img height="1" width="1" src="https://www.facebook.com/tr?id=194000335688891&ev=PageView&noscript=1"/></noscript><!-- End Facebook Pixel Code -->
</head>
<body>
<div class="hamburger" style="display: none">
    <img src="/images/hamburger.svg" alt="Ikona mobilního menu"/>
</div>

<div class="mobile-menu">

    <img src="/images/close_small.svg" alt="ikona zavřít" class="close" id="close-menu"/>

    <div class="content">
        <a href="{{ path('main') }}">
            <img src="/images/Logo_4everin-Logo_4everin_white.svg" alt="logo"/>
        </a>
        <div class="items">
            <a href="{{ path('eshop') }}">OBJEDNAT ONLINE</a>
            <a href="{{ path('custom') }}">SPECIFICKÁ VÝROBA</a>
            <a href="{{ path('companies') }}">VÝROBA PRO FIRMY</a>
            <a href="{{ path('photos') }}">VAŠE FOTKY 2D/3D</a>
            <a href="{{ path('reference') }}">REFERENCE</a>
            <a href="{{ path("main") }}#vyroba">VÝROBA</a>
            <a href="{{ path('contact') }}">KONTAKT</a>
        </div>
    </div>
</div>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<div class="footer">
    <div class="box">
        <img src="/images/Logo_4everin.svg" alt="Logo 4everin"/>
        <div class="content">
            <div class="col col1">
                <div class="row">
                    Jsme rodinná firma na českém<br/>
                    trhu se sídlem v Pardubicích.
                </div>
                <div class="row">
                    Agentura N+N s.r.o.<br/>
                    Počaply 61<br/>
                    533 04 Sezemice<br/>
                </div>
                <div class="row">
                    IČ 26014033<br/>
                    DIČ CZ26014033<br/>
                </div>
                <div class="row gray">
                    Spisová značka C 20184/KSHK<br/>
                    Krajský soud v Hradci Králové
                </div>
            </div>
            <div class="col col2">
                <div class="title">INFORMACE</div>

                <a href="{{ path('main') }}#onas">O nás</a>
                <a href="{{ path('contact') }}">Kontakt</a>
                <a href="{{ path("photos") }}#photosDesc">Jak objednat online?</a>
                <a href="{{ path('obchodniPodminky') }}">Obchodní podmínky</a>
                <a href="{{ path('reklamace') }}">Reklamace</a>
            </div>
            <div class="col col3">
                <div class="title">VÝROBA</div>

                <a href="{{ path('custom') }}">Specifická výroba</a>
                <a href="{{ path('companies') }}">Výroba pro firmy</a>
                <a href="{{ path('photos') }}">Fotky ve skle</a>
                <a href="{{ path('eshop') }}">Objednat online</a>
            </div>
            <div class="col col4">
                <div class="title">RYCHLÝ KONTAKT</div>
                <div class="con">
                    <img src="/images/phone_black.svg"/>
                    <a href="tel:+420603524942">+420 603 524 942</a>
                </div>
                <div class="con">
                    <img src="/images/Mail_icon_black-mail_icon_black.svg"/>
                    <a href="mailto:obchod@4everin.cz">obchod@4everin.cz</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-logo">
    <div class="copyright">
        © 2020, Agentura N+N s.r.o.
    </div>
    <div class="matfix-logo">
        <a href="https://www.matfix.cz" target="_blank">
            <img src="/images/matfix_paticka_new.svg" alt="Logo Matfix"><br/>
        </a>
    </div>
</div>
</body>
</html>
