{% extends 'base.html.twig' %}
{% block body %}
    <div class="zakazka-page">
        <div class="main empty">
            <div class="box">
                <div class="row top">
                    <div class="left">
                        <a href="{{ path('main') }}">
                            <img src="/images/Logo_4everin-Logo_4everin_white.svg" alt="logo 4everin"/>
                        </a>
                    </div>
                    <div class="right">
                        <div class="contact">
                            <a href="tel:+420603524942">+420 603 524 942</a> | <a href="mailto:obchod@4everin.cz">obchod@4everin.cz</a>
                        </div>
                        <div class="menu">
                            <a href="{{ path('reference') }}">REFERENCE</a>
                            <a href="{{ path('main') }}#vyroba">VÝROBA</a>
                            <a href="{{ path('eshop') }}">OBJEDNAT</a>
                            <a href="{{ path('contact') }}">KONTAKT</a>
                        </div>
                    </div>
                </div>

                <div class="box-content">
                    <div class="left">
                        <div class="title">
                            Výroba pro firmy,
                            obce, kluby. Vaše
                            sdělení ve skle.
                        </div>
                        <div class="subtitle">
                            <ul>
                                <li>loga, fotky</li>
                                <li>erby, věnování</li>
                                <li>plakety, trofeje</li>
                            </ul>
                        </div>
                        <form action="{{ path('contact') }}">
                            <button type="submit" class="button-red">KONTAKTUJTE NÁS</button>
                        </form>
                    </div>
                    <div class="right">
                        <img src="/images/policie.jpg"/>
                    </div>
                </div>

            </div>
        </div>
        <div class="desc">
            <div class="box">
                <div class="left">
                    <div class="content">

                        <p>Napište nám svou představu a zeptejte se nás.
                            Vaše netradiční reklamní a dárkové předměty připravíme společně.</p>

                        <div class="quote">Pro firmy</div>
                        <ul>
                            <li>reklamní předměty</li>
                            <li>dárkové upomínky</li>
                            <li>firemní dekorace</li>
                        </ul>
                        <div class="quote">Pro města a obce</div>
                        <ul>
                            <li>reklamní upomínky</li>
                            <li>pamětní upomínky</li>
                            <li>dárkové plakety</li>
                        </ul>

                        <div class="quote">Pro sportovní kluby</div>
                        <ul>
                            <li>sportovní trofeje</li>
                            <li>sportovní plakety</li>
                            <li>fanouškovské předměty</li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <!--<img src="publc/images/Img_o nas.jpg" width="892" height="596"/> -->
                    <img src="/images/Img_o nas.jpg"/>
                </div>
            </div>
            <div class="bottom">
                <form action="{{ path('reference') }}">
                    <button type="submit" class="button-red btn">REFERENCE</button>
                </form>
            </div>

            <div class="boxes">
                <a href="{{ path('custom') }}" class="item">
                    <div>
                        <div class="line"></div>
                        SPECIFICKÁ<br/>
                        VÝROBA
                    </div>
                </a>
                <a href="{{ path('companies') }}" class="item">
                    <div>
                        <div class="line"></div>
                        VÝROBA PRO<br/>
                        FIRMY / OBCE
                    </div>
                </a>
                <a href="{{ path('photos') }}" class="item">
                    <div>
                        <div class="line"></div>
                        VAŠE FOTKY<br/>
                        VE SKLE 2D/3D
                    </div>
                </a>
                <a href="{{ path('eshop') }}" class="item">
                    <div>
                        <div class="line"></div>
                        OBJEDNAT SVŮJ<br/>
                        DÁREK ONLINE
                    </div>
                </a>
            </div>

        </div>
    </div>
    {% block script %}
        <script>
        </script>
    {% endblock script %}
{% endblock body %}
