{% extends 'base.html.twig' %}
{% block body %}

    <div class="eshop-page">
        <div class="main empty">
            <div class="box">
                <div class="row top">
                    <div class="left">
                        <a href="{{ path('main') }}">
                            <img src="/images/Logo_4everin-Logo_4everin_white.svg" alt="logo 4everin"/>
                        </a>
                    </div>
                    <div class="right">
                        <div class="contact">
                            <a href="tel:+420603524942">+420 603 524 942</a> | <a href="mailto:obchod@4everin.cz">obchod@4everin.cz</a>
                        </div>
                        <div class="menu">
                            <a href="{{ path('reference') }}">REFERENCE</a>
                            <a href="{{ path('main') }}#vyroba">VÝROBA</a>
                            <a href="{{ path('eshop') }}">OBJEDNAT</a>
                            <a href="{{ path('contact') }}">KONTAKT</a>
                        </div>
                    </div>
                </div>

                <div class="box-content">
                    <div class="head-text">
                        <div class="title">Vaše foto ve skle 2D/3D online</div>
                        <div class="subtitle">Darujte netradiční dárek. Sklo uchová atmosféru okamžiku pro Vaši vzpomínku i
                            inspiraci. Vaše fotka ve skle v 2D nebo 3D provedení.
                        </div>
                        {% for message in app.flashes('error') %}
                            <div class="flash-notice alert alert-danger fade show" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="step">1. Vyberte si svůj tvar</div>
                    </div>

                    <div class="items">
                        {% for product in products %}
                            <div class="item item-product{% if selectedProduct is not null and selectedProduct.id == product.id %} selected{% endif %}">

                                <img src="/images/View_original.svg" class="view-orig test1"/>
                                <div class="item-wrap">
                                    <img src="{{ vich_uploader_asset(product, 'realImageFile') }}" class="sample" />
                                    {% if selectedProduct is not null and selectedProduct.id == product.id %}
                                        <div class="selected-icon">
                                            <img src="/images/done.svg"/>
                                        </div>
                                    {% endif %}
                                    <a href="{{ path('eshop', {'productId' : product.id}) }}" type="button"
                                       class="link-red link-red-addd eshop-select"
                                       data-id="{{ product.id }}"
                                       style="display: none">VYBRAT
                                    </a>
                                    <a href="{{ path('eshop') }}" type="button"
                                       class="link-red link-red-remove eshop-select"
                                       style="display: none">ODEBRAT
                                    </a>

                                    <div class="body">
                                        <img src="{{ vich_uploader_asset(product, 'sampleImageFile') }}"/>

                                        <div class="text">
                                            <div class="left">
                                                <span class="bold">{{ product.name }}</span>
                                                {{ product.size }} mm
                                            </div>
                                            <div class="right">
                                                {{ product.price }} Kč
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form.productId) }}
        {{ form_widget(form.itemsCount) }}
        <div class="order" id="orderForm">
            <div class="box">
                <div class="box-item">
                    <div class="step">
                        2. Vložte své foto
                    </div>
                    <div class="text">
                        Pro co nejzdařilejší výrobek nám zašlete
                        fotku o velikosti 0,5 - 2 MB. Tak aby obsah, který budeme laserovat byl dostatečně vidět.
                    </div>
                    <div class="upload-group {% if form.file.vars.submitted and not form.file.vars.valid %}error{% endif %}">
                        <input type="text" class="text-input" value="{% if not form.file.vars.valid %} Chyba - zkontrolujte velikost souboru {% elseif form.file.vars.submitted %} {{ form.file.vars.data.clientOriginalName}} {% endif %}" id="fakeUploadInput"/>
                        <a class="{% if not form.file.vars.valid %}button-upload-error{% elseif not form.file.vars.submitted %}button-upload{% else %}button-upload-success{% endif %}" onclick="$('#order_form_file').click();"></a>
                        {{ form_widget(form.file, {'attr': {'style': 'display: none'}}) }}
                    </div>
                    <div class="chck" {% if selectedProduct is not null and not selectedProduct.allowed3DLaser %}style="display: none" {% endif %} onclick="priplatek3D(this)" id="3dpriplatek">
                        {{ form_widget(form.photo3D, {'attr': {'class': 'form-check-input'}}) }}
                        Chci foto v 3D (příplatek)
                    </div>
                </div>
                <div class="box-item">
                    <div class="step">
                        3. Vložte svůj text
                    </div>
                    <div class="text">
                        Pokud si přeje mít ve svém skle text, napiště nám přesné znění a vyberte styl písma. Maximální
                        počet znaků 45.
                    </div>
                    <div>
                        {{ form_widget(form.text, {'attr': {'class': 'text-input', 'placeholder': "Váš text"}}) }}
                    </div>
                    <div class="chck">
                        {{ form_widget(form.withoutText, {'attr': {'class': 'form-check-input'}}) }}
                        Nechci připojit text
                    </div>
                    <div class="box-item step-4">
                        <div class="text box-item">
                            Vyberte si styl písma, kterým bude vepsán Váš text do skla a uchová přesné sdělení.
                        </div>
                        <div class="select-font">
                            {% for option in form.fontId.children %}
                                {% if option.vars.value is not empty %}
                                    <div class="chck box-item">
                                        <input {% if option.vars.required %} required="required"  {% endif %} type="radio"
                                                                                                              name="{{ option.vars.full_name }}"
                                                                                                              id="{{ option.vars.id }}"
                                                                                                              value="{{ option.vars.value }}"
                                                {% if option.vars.checked %}checked="checked"{% endif %}/>
                                        <img src="/images/settings/font/{{ option.vars.label }}"/>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="delivery">
            <div class="box">
                <div class="box-item">
                    <div class="step">
                        Způsob doručení
                    </div>
                    {{ _self.errorLine(form.deliveryId) }}
                    {% for option in form.deliveryId.children %}
                        {% if option.vars.value is not empty %}
                            <div class="item-row">
                                <div class="chck">
                                    <input onchange="refreshPrice(this)"
                                           data-label="{{ option.vars.label }}" {% if option.vars.required %} required="required"  {% endif %}
                                           type="radio"
                                           class="transport {% if option.vars.value == 1 %}packeta-selector-open{% endif %}"
                                           name="{{ option.vars.full_name }}"
                                           id="{{ option.vars.id }}"
                                           value="{{ option.vars.value }}"
                                            {% if option.vars.checked %}checked="checked"{% endif %}/>
                                    {{ option.vars.label }}
                                </div>
                                <div data-price="{{ option.vars.attr.price }}"
                                     class="price">{{ option.vars.attr.price }} Kč
                                </div>
                            </div>
                            {% if option.vars.value == 1 %}<div class="item-row chck packeta-selector-branch-name"></div>{% endif %}
                        {% endif %}
                    {% endfor %}
                    {{ form_widget(form.packeteryBranchName, {'attr': {'class': "packeta-selector-branch-name"}} ) }}
                    {{ form_widget(form.packeteryBranchId, {'attr': {'class': "packeta-selector-branch-id"}}) }}
                    <div class="step ">
                        Způsob platby
                    </div>
                    {{ _self.errorLine(form.paymentId) }}
                    {% for option in form.paymentId.children %}
                        {% if option.vars.value is not empty %}

                            <div class="item-row">
                                <div class="chck">
                                    <input onchange="refreshPrice(this)"
                                           data-label="{{ option.vars.label }}" {% if option.vars.required %} required="
                                           required" {% endif %}
                                           type="radio"
                                           class="payment"
                                           name="{{ option.vars.full_name }}"
                                           id="{{ option.vars.id }}"
                                           value="{{ option.vars.value }}"
                                            {% if option.vars.checked %}checked="checked"{% endif %}/>
                                    {{ option.vars.label }}
                                </div>
                                <div data-price="{{ option.vars.attr.price }}"
                                     class="price"> {{ option.vars.attr.price }} Kč
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="step ">
                        Osobní údaje
                    </div>
                    <div class="input-group">
                        Jméno a Příjmení
                        {{ form_widget(form.name, {'attr': {'placeholder': "*Vyplňte"}}) }}
                        {{ _self.errorLine(form.name) }}
                    </div>
                    <div class="input-group">
                        Telefon
                        {{ form_widget(form.phone, {'attr': {'placeholder': "*Vyplňte"}}) }}
                        {{ _self.errorLine(form.phone) }}
                    </div>
                    <div class="input-group">
                        E-mail
                        {{ form_widget(form.email, {'attr': {'placeholder': "*Vyplňte"}}) }}
                        {{ _self.errorLine(form.email) }}
                    </div>
                    <div class="step ">
                        Údaje o společnosti
                    </div>
                    <div class="item-row">
                        <div class="chck">
                            {{ form_widget(form.company, {'attr': {'class': 'form-check-input'}}) }}
                            Pokud nakupujete na firmu
                        </div>
                    </div>
                    <div id="nakupNaFirmu" style="display: none">
                        <div class="input-group">
                            Název
                            {{ form_widget(form.companyName, {'attr': {'placeholder': "*Vyplňte"}}) }}
                            {{ _self.errorLine(form.companyName) }}
                        </div>
                        <div class="input-group">
                            IČO
                            {{ form_widget(form.ein, {'attr': {'placeholder': "*Vyplňte"}}) }}
                            {{ _self.errorLine(form.ein) }}
                        </div>
                        <div class="input-group">
                            DIČ
                            {{ form_widget(form.vatNumber, {'attr': {'placeholder': "*Vyplňte"}}) }}
                            {{ _self.errorLine(form.vatNumber) }}
                        </div>
                    </div>
                    <div class="step ">
                        Dodací adresa (Vaše nebo obdarovaného)
                    </div>
                    <div class="input-group">
                        Ulice č.p.
                        {{ form_widget(form.street, {'attr': {'placeholder': "*Vyplňte"}}) }}
                        {{ _self.errorLine(form.street) }}
                    </div>
                    <div class="input-group">
                        Město
                        {{ form_widget(form.city, {'attr': {'placeholder': "*Vyplňte"}}) }}
                        {{ _self.errorLine(form.city) }}
                    </div>
                    <div class="input-group">
                        PSČ
                        {{ form_widget(form.postCode, {'attr': {'placeholder': "*Vyplňte"}}) }}
                        {{ _self.errorLine(form.postCode) }}
                    </div>
                    <div class="step ">
                        Fakturační adresa
                    </div>
                    <div class="item-row">
                        <div class="chck">
                            {{ form_widget(form.billingAddress, {'attr': {'class': 'form-check-input'}}) }}
                            Fakturační adresa
                        </div>
                    </div>
                    <div id="fakturacniAdresa" style="display: none">
                        <div class="input-group">
                            Ulice č.p.
                            {{ form_widget(form.billingStreet, {'attr': {'placeholder': "*Vyplňte"}}) }}
                            {{ _self.errorLine(form.billingStreet) }}
                        </div>
                        <div class="input-group">
                            Město
                            {{ form_widget(form.billingCity, {'attr': {'placeholder': "*Vyplňte"}}) }}
                            {{ _self.errorLine(form.billingCity) }}
                        </div>
                        <div class="input-group">
                            PSČ
                            {{ form_widget(form.billingPostCode, {'attr': {'placeholder': "*Vyplňte"}}) }}
                            {{ _self.errorLine(form.billingPostCode) }}
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div id="obsahObjednavky" class="step">
                        Obsah objednávky
                    </div>
                    <div class="ordered-items">
                        {% if selectedProduct is not null %}
                            <div class="ordered-item" data-price="{{ selectedProduct.price }}">
                                <div class="image">
                                    <img src="{{ vich_uploader_asset(selectedProduct, 'sampleImageFile') }}"/>
                                </div>
                                <div class="chevrons">
                                    <img src="/images/chevron_up.svg" class="up" id="up"/>
                                    <img src="/images/chevron_down.svg" class="down" id="down"/>
                                </div>
                                <div class="text chevron">
                                    <div class="typ title">
                                        <span id="orderCount">1</span> Ks
                                        {{ selectedProduct.name }}
                                    </div>
                                    <div class="hodnota">
                                        {{ selectedProduct.size }}

                                    </div>
                                </div>
                                <div class="price" data-price="{{ selectedProduct.price }}">
                                    <div class="price-text">

                                        {{ selectedProduct.price }} Kč
                                    </div>
                                    <div class="desc">Cena s DPH</div>

                                </div>
                            </div>
                        {% endif %}
                        <div class="ordered-item" style="display: none" id="3dlaserovani">
                            <div class="image">
                                <img src="/images/3D.svg" class="d"/>
                            </div>
                            <div class="text">
                                <div class="typ title">
                                    <span id="orderCount3D">1</span> Ks FOTO VE SKLE 3D
                                </div>
                                <div class="hodnota">
                                    3D laserování
                                </div>
                            </div>
                            <div class="price" data-price="{% if selectedProduct is not null %} {{ selectedProduct.laser3DPrice }} {% endif %}">
                                <div class="price-3D-text">{% if selectedProduct is not null %} {{ selectedProduct.laser3DPrice }} {% endif %} Kč</div>
                                <div class="desc">Cena s DPH</div>

                            </div>
                        </div>
                        <div class="ordered-item">
                            <div class="image">
                                <img src="/images/4everin_doprava_icon.svg"/>
                            </div>
                            <div class="text" id="postovne">
                                <div class="typ title">
                                    1 ks POŠTOVNÉ
                                </div>
                                <div class="hodnota"></div>
                            </div>
                            <div class="price">
                                0 Kč
                            </div>
                        </div>
                        <div class="ordered-item">
                            <div class="image">
                                <img src="/images/4everin_platba_icon.svg"/>
                            </div>
                            <div class="text" id="platba">
                                <div class="typ title">
                                    1 ks Platba
                                </div>
                                <div class="hodnota"></div>
                            </div>
                            <div class="price">
                                0 Kč
                            </div>
                        </div>
                    </div>
                    <div class="total-price">
                        <div>CENA K ÚHRADĚ</div>
                        {% if selectedProduct.price is defined %}
                            <div id="totalPrice"
                                 data-price="{{ selectedProduct.price }}">
                                {{ selectedProduct.price }} Kč
                            </div>
                        {% else %}
                            <div id="totalPrice"
                                 data-price="0">
                                0 Kč
                            </div>
                        {% endif %}
                    </div>
                    {{ form_widget(form.note, {'attr': {'class': 'text-input', 'placeholder': "Poznámka k Vaší objednávce"}}) }}
                    {{ _self.errorLine(form.note) }}

                    <div class="chck">
                        {{ form_widget(form.gdprAgree, {'attr': {'class': 'form-check-input'}}) }}
                        <a href="{{ path("gdpr") }}">
                            Souhlasím se zpracováním osobních údajů<br/> pro obchodní účely
                        </a>
                        {{ _self.errorLine(form.gdprAgree) }}
                    </div>

                    <div class="chck">
                        {{ form_widget(form.businessCondAgree, {'attr': {'class': 'form-check-input'}}) }}
                        <a href="{{ path('obchodniPodminky') }}">
                            Souhlasím s obchodními podmínkami
                        </a>
                        {{ _self.errorLine(form.businessCondAgree) }}
                    </div>

                    {{ form_row(form._token) }}
                    <div class="btn">
                        <button type="submit" class="button-red">ODESLAT OBJEDNÁVKU</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-potvrzeni" {% if sucessfullySend is defined %}style="display: flex"{% else %}style="display: none"{% endif %}>
        <div class="modal-content">
            <img src="/images/close_modal.svg" class="close-modal" />
            <div class="content">
                <img class="logo" src="/images/Logo_4everin-Logo_4everin_white.svg" />
                <div class="title">Vaše objednávka je odeslaná</div>
                    <div class="text">
                    <p>Děkujeme za Vaší objednávku.</p>
                    <p>V nejbližší možné době na ni mrkneme a ozveme se Vám na Vámi uvedený e-mail.<br /><br/></p>
                    <p>Pěkný den.</p>
                </div>
            </div>
        </div>

    </div>

    {% macro errorLine(formToProcess) %}
        {% if not formToProcess.vars.valid %}
            <div class="flash-notice alert alert-warning error" role="alert">
                {{ form_errors(formToProcess) }}
            </div>
        {% endif %}
    {% endmacro %}

    {% block script %}
        <script>
            let pocitat3D = false;

            function priplatek3D(el) {

                if ($(el).find('input').is(":checked")) {
                    $('#3dlaserovani').show();
                    pocitat3D = true;
                } else {
                    $('#3dlaserovani').hide();
                    pocitat3D = false;
                }

                prepocijetCenu();
            }

            function refreshPrice(el) {
                let label = $(el).attr('data-label');
                let price = $(el).parent().parent().find('.price').attr('data-price');

                if ($(el).hasClass('transport')) {
                    $('#postovne').find('.hodnota').text(label);
                    $('#postovne').parent().find('.price').text(price + ' Kč');
                    $('#postovne').parent().find('.price').attr('data-price', price);
                }

                if ($(el).hasClass('payment')) {
                    $('#platba').find('.hodnota').text(label);
                    $('#platba').parent().find('.price').text(price + ' Kč');
                    $('#platba').parent().find('.price').attr('data-price', price);
                }

                prepocijetCenu();

            }

            function prepocijetCenu() {
                let totalPrice = 0;

                $('.ordered-item').each(function (i, e) {

                    if ($(this).attr('id') === '3dlaserovani') {

                        if (pocitat3D) {
                            let count3D = parseInt($('#orderCount3D').text())
                            let value = $(this).find('.price').attr('data-price');
                            if (value) {
                                totalPrice += (parseInt(value) * count3D);
                                $('.price-3D-text').text((parseInt(value) * count3D) + ' Kč');
                            }
                        }
                    } else {

                        let value = $(this).find('.price').attr('data-price');

                        if (value) {
                            totalPrice += parseInt(value);
                        }
                    }

                })

                $('#totalPrice').attr('data-price', totalPrice);
                $('#totalPrice').text(totalPrice + ' Kč');
            }

            $('#up').on('click', function () {
                let count = parseInt($('#orderCount').text());

                count += 1;

                $('#orderCount').text(count)
                $('#orderCount3D').text(count)
                $('#order_form_itemsCount').val(count)

                let p = $(this).closest('.ordered-item').attr('data-price');
                let totalPrice = parseInt(p) * count;
                $(this).closest('.ordered-item').find('.price').attr('data-price', totalPrice)
                $(this).closest('.ordered-item').find('.price').find('.price-text').text(totalPrice + ' Kč')

                prepocijetCenu();
            });

            $('#down').on('click', function () {

                let count = parseInt($('#orderCount').text());

                count = count - 1;
                if (count < 1) {
                    count = 1;
                }

                $('#orderCount').text(count)
                $('#orderCount3D').text(count)
                $('#order_form_itemsCount').val(count)

                let p = $(this).closest('.ordered-item').attr('data-price');
                let totalPrice = parseInt(p) * count;
                $(this).closest('.ordered-item').find('.price').attr('data-price', totalPrice)
                $(this).closest('.ordered-item').find('.price').find('.price-text').text(totalPrice + ' Kč')

                prepocijetCenu();
            });
        </script>

        <script>
            var packetaSelectorOpen = '.packeta-selector-open';
            var packetaSelectorBranchName = '.packeta-selector-branch-name';
            var packetaSelectorBranchId = '.packeta-selector-branch-id';
            var packetaCountry = 'cz';
            var packetaWidgetLanguage = 'cs';

            var packetaPrimaryButtonColor = '#39b54a';
            var packetaBackgroundColor = '#ffffff';
            var packetaFontColor = '#555555';
            var packetaFontFamily = 'Arial';
        </script>

        <script src="https://widget.packeta.com/www/js/packetaWidget.js" data-api-key="2b8f7790e661b5d0"></script>

    {% endblock script %}
{% endblock body %}
