{% extends 'base.html.twig' %}
{% block body %}


    <div class="text-page">


        <div class="header-box">
            <div class="logo">
                <a href="{{ path('main') }}">
                    <img src="/images/Logo_4everin-Logo_4everin_white.svg" alt="logo 4everin"/>
                </a>
            </div>
            <div class="title">
                Ochrana osobních údajů
            </div>
        </div>

        <div class="content">
            <div class="text">

                <p>
                    Vážená paní, Vážený pane,
                </p>
                <p>
                    ve jménu společnosti Agentura N+N s.r.o. (dále jen „správce“), se sídlem Počaply 61, 533 04 Sezemice, IČO: 26014033  Spisová značka C 20184/KSHK, Krajský soud v Hradci Králové, Vás žádáme, o udělení souhlasu se zpracováním Vašich osobních údajů pro marketingové účely. Údaje, které budeme na základě Vašeho souhlasu zpracovávat, zahrnují jméno, příjmení (u podnikatele i obchodní firmu, IČO a sídlo), kontaktní údaje (emailová adresa, telefon, korespondenční adresa), transakční údaje, specifické údaje (např. GPS) k vloženým fotografiím, informace z telefonních hovorů nebo jiné interakce mezi Vámi a námi. Jde o údaje, které získáváme přímo od Vás nebo od spolupracujících třetích stran.
                </p>
                <p>
                    Zákonným důvodem zpracování Vašich osobních údajů je Váš souhlas dávaný tímto správci ve smyslu
                    čl. 6 odst. 1 písm. a) Nařízení Evropského parlamentu a Rady 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES
                    (obecné nařízení o ochraně osobních údajů).
                </p>
                <p>
                    Účelem zpracování osobních údajů se rozumí nabídka produktů a služeb poskytovaných firmou Agentura N+N s.r.o. a spolupracujícími třetími stranami, a to i prostřednictvím elektronických kanálů, dále marketingové zpracování, analýzy a profilování s cílem přizpůsobit naši nabídku Vaším potřebám a zkvalitnit poskytované služby.
                </p>
                <p>
                    Samotnému použití informací předchází jejich zpracování, jedná se zejména o tzv. marketingové zpracování dat. Pod tím si můžete představit statistické a matematické analýzy s cílem získat vhled do chování klienta,
                    různé profilování a segmentaci klienta, reporting.
                </p>
                <p>
                    Regulace ochrany osobních údajů umožňuje, aby správce pověřil zpracováním osobních údajů zpracovatele. Zpracovatelem osobních údajů je každý subjekt, který na základní pověření či zmocnění správcem zpracovává osobní údaje.
                </p>
                <p>
                    Mezi nejvýznamnější zpracovatele osobních údajů pro marketingové účely, patří:
                </p>
                <p>
                    matfix.cz, Matouš Ingršt, IČ: 01223518, Pražská 195, 530 06 Pardubice<br />
                    Seznam Sklik (Seznam.cz, a.s.), Radlická 3294/10, Praha 5, 150 00, IČO: 26168685<br />
                    Google, Google Analytics (Google Czech Republic, s.r.o.), Stroupežnického 3191/17, Praha 5, 150 00, IČO: 27604977<br />
                    Facebook Ireland Limited, se sídlem 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, D02 X525, Irsko<br />
                </p>
                <p>
                    Výše uvedené osobní údaje mohou být zpracovány jak manuálně, tak automatizovaně a budou zpracovány výlučně k shora vyjmenovaným účelům a nebudou předávány dalším osobám (mimo výjimky stanovené výše), ani nebudou umožněny k nahlédnutí jakýmkoli jiným příjemcům osobních údajů.

                </p>
                <p>
                    Společnost Agentura N+N s.r.o. bude osobní údaje zpracovávat po dobu 5 let od jeho udělení. Při dalšími využití služeb (nákupu) se tento souhlas prodlužuje. Po skončení platnosti a účinnosti souhlasu budou Vaše osobní údaje vymazány.
                </p>
                <p>
                    Souhlas je dobrovolný, proto v každém okamžiku máte právo na opravu a výmaz osobních údajů, jakožto i právo na omezení zpracování osobních údajů a právo vznést námitku proti zpracování nebo podat stížnost u Úřadu pro ochranu osobních údajů.
                </p>
                <p>
                    Stejně tak máte právo kdykoliv své údaje v databázi zkontrolovat nebo požádat firmu Agentura N+N s.r.o., aby Vám je vydal ve strojově čitelném formátu. Tuto žádost adresujte na emailovou adresu novakova@agenturann.cz  anebo písemně na sídlo firmy Počaply 61, 533 04 Sezemice.
                </p>
                <p>
                    Tímto uděluji souhlas se zpracováním osobních údajů.
                </p>
            </div>
        </div>

    </div>
{% endblock body %}
