{% extends 'base.html.twig' %}
{% block body %}

    <div class="main cover">
        <div class="mobile-cover">
            <div class="box">
                <div class="row top">
                    <div class="left">
                        <a href="{{ path('main') }}">
                            <img src="/images/Logo_4everin-Logo_4everin_white.svg" alt="logo 4everin"/>
                        </a>
                    </div>
                    <div class="right">
                        {% include 'menu.html.twig' %}
                    </div>
                </div>
                <div class="title">
                    <div class="content">
                        <div>
                            Netradiční dárek <br/>
                            z Vašich fotografií
                        </div>
                        <form action="{{ path('eshop') }}">
                            <button type="submit" class="button-red btn">VYBERTE SI TVAR</button>
                        </form>
                    </div>
                </div>
                <div class="cards">
                    <div class="item">
                        <div class="line"></div>
                        <a href="{{ path('custom') }}">SPECIFICKÁ<br/>
                            VÝROBA</a>
                    </div>
                    <div class="item">
                        <div class="line"></div>
                        <a href="{{ path('companies') }}">VÝROBA PRO<br/>
                            FIRMY / OBCE</a>
                    </div>
                    <div class="item">
                        <div class="line"></div>
                        <a href="{{ path('photos') }}">VAŠE FOTKY<br/>
                            VE SKLE 2D/3D</a>
                    </div>
                    <div class="item">
                        <div class="line"></div>
                        <a href="{{ path('eshop') }}">
                            OBJEDNAT SVŮJ<br/> DÁREK ONLINE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about" id="onas">
        <div class="box">
            <div class="left">
                <div class="title">
                    O nás
                </div>
                <div class="content">
                    <p>
                        Jsme rodinná firma na českém trhu se sídlem v Pardubicích. Vytvoříme pro Vás dárkové a reklamní
                        předměty v zajímavém estetickém provedení. Vámi dodané fotografie, loga, znaky, textace, apod…
                        Objednávat můžete online z předem daných tvarů či nás můžete kontaktovat s Vaší konkrétní
                        objednávkou.
                    </p>
                    <p>
                        Dárek vhodný pro každou příležitost
                    </p>
                    <ul class="list">
                        <li>narozeniny, svátky, výročí</li>
                        <li>svatby a promoce</li>
                        <li>trofeje a ocenění</li>
                        <li>reklama pro firmu, město a obchodní partnery</li>
                    </ul>

                    <p class="quote">
                        “Radost, krása a originál,<br/>
                        &nbsp; který se nemění.”
                    </p>
                </div>
            </div>
            <div class="right">
                <img src="/images/Img_nas_4everin.jpg"/>
            </div>
        </div>
        <div class="bottom">
            <img src="/images/Logo_4everin.svg" alt="Logo 4everin" id="mainPageLogoAbout"/>
            <form action="{{ path('reference') }}">
                <button type="submit" class="button-red btn">REFERENCE</button>
            </form>
        </div>

    </div>
    <div class="production" id="vyroba">
        <div class="left">
            <iframe width="511" height="295" src="https://www.youtube.com/embed/2JK-8JsNrLA?rel=0" frameborder="0"
                    allow="accelerometer; loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="right">
            <div class="title">
                Výroba
            </div>
            <div class="content">
                <p>Motiv, logo či obraz je vygravírován dovnitř materiálu, avšak jeho povrch zůstává zcela nedotčen. Toto nám
                    umožňuje nejnovější laserová technologie, kterou máme k dispozici.</p>
                <p>Základ tvoří prvotřídní optické sklo. Při samotném gravírování miliony (laserových) paprsků pronikají
                    do
                    nitra a vytváří v něm mikroskopické body, ze kterých vzniká finální produkt. (motiv, obrazec,
                    logo)</p>
                <p>Díky této technice jsme schopni přenést ty nejvzácnější okamžiky v životě do pevného materiálu, který
                    vzdoruje času i zkáze a uchová vzpomínky prakticky navždy ve stejné kvalitě.</p>
                <p>Připravíme</p>
                <ul class="list">
                    <li>grafické návrhy a zpracování</li>
                    <li>2D a 3D fotografie uvnitř skla</li>
                    <li>reklamní předměty, těžítka, plakety, klíčenky…</li>
                    <li>obrazy rodin, měst… do velikosti A3</li>
                </ul>
                <div class="quote">
                    “Sklo uchová atmosféru okamžiku<br/>
                    &nbsp;pro Vaši vzpomínku i inspiraci”
                </div>
            </div>
            <form action="{{ path('eshop') }}" class="btn-form">
                <button type="submit" class="button-red btn">OBJEDNAT</button>
            </form>
        </div>
    </div>

    {% block script %}
        <script>
        </script>
    {% endblock script %}
{% endblock body %}
