<div class="contact">
    <a href="tel:+420603524942">+420 603 524 942</a> | <a href="mailto:obchod@4everin.cz">obchod@4everin.cz</a>
</div>
<div class="menu">
    <a href="{{ path('reference') }}">REFERENCE</a>
    <a href="{{ path('main') }}#vyroba">VÝROBA</a>
    <a href="{{ path('eshop') }}">OBJEDNAT</a>
    <a href="{{ path('contact') }}">KONTAKT</a>
</div>