{% extends 'base.html.twig' %}
{% block body %}





    <div class="text-page">


        <div class="header-box">
            <div class="logo">
                <a href="{{ path('main') }}">
                    <img src="/images/Logo_4everin-Logo_4everin_white.svg" alt="logo 4everin"/>
                </a>
            </div>
            <div class="title">
                Obchodní podmínky
            </div>
        </div>

        <div class="content">
            <div class="text">
                <p>
                    Agentura N+N s.r.o. (dále jen „správce“), se sídlem Počaply 61, 533 04 Sezemice, IČO: 26014033
                    Spisová značka C 20184/KSHK, Krajský soud v Hradci Králové
                </p>
                <p>
                    Společnosti<br/>
                    Agentura N+N s.r.o.<br/>
                    se sídlem: Počaply 61, 533 04 Sezemice<br/>
                    IČ: 26014033<br/>
                    zapsané v obchodním rejstříku vedeném u Krajského soudu v Hradci Králové, spisová značka: Spisová
                    značka C 20184/KSHK pro prodej zboží a nabídku služeb prostřednictvím on-line obchodu umístěného na
                    internetové adrese www.4everin.cz<br/>
                    Podle ustanovení §94 odst. 18 zákona 235/204 Sb. je obchodní společnost registrovaným plátcem daně z
                    přidané hodnoty. DIČ: CZ26014033
                </p>
                <p>
                    1. úvodní ustanovení<br/>
                    1.1. Tyto obchodní podmínky (dále jen „obchodní podmínky“) obchodní společnosti Agentura N+N s.r.o.,
                    se sídlem Počaply 61, 533 04 Sezemice, identifikační číslo:26014033, zapsané v obchodním rejstříku
                    vedeném u Krajského soudu v Hradci Králové, spisová značka: C 20184/KSHK (dále jen „prodávající“)
                    upravují v souladu s ustanovením § 1751 odst. 1 zákona č. 89/2012 Sb., občanský zákoník (dále jen
                    „občanský zákoník“) vzájemná práva a povinnosti smluvních stran vzniklé v souvislosti nebo na
                    základě kupní smlouvy (dále jen „kupní smlouva“) uzavírané mezi prodávajícím a fyzickou osobou,která
                    nejedná v rámci své podnikatelské činnosti (dále jen „kupující“) prostřednictvím internetového
                    obchodu prodávajícího. Internetový obchod je prodávajícím provozován na webové stránce umístněné na
                    internetové adrese www.4everin.cz (dále jen „webová stránka“), a to prostřednictvím rozhraní webové
                    stránky (dále jen „webové rozhraní obchodu“).<br/>
                    1.2. Obchodní podmínky se nevztahují na případy, kdy osoba, která má v úmyslu nakoupit zboží od
                    prodávajícího, je právnickou osobou či osobou, jež jedná při objednávání zboží v rámci své
                    podnikatelské činnosti nebo v rámci svého samostatného výkonu povolání.<br/>
                    1.3. Ustanovení odchylná od obchodních podmínek je možné sjednat v kupní smlouvě. Odchylná ujednání
                    v kupní smlouvě mají přednost před ustanoveními obchodních podmínek.<br/>
                    1.4. Ustanovení obchodních podmínek jsou nedílnou součástí kupní smlouvy. Kupní smlouva a obchodní
                    podmínky jsou vyhotoveny v českém jazyce. Kupní smlouvu lze uzavřít v českém jazyce.<br/>
                    1.5. Znění obchodních podmínek může prodávající měnit či doplňovat. Tímto ustanovením nejsou dotčena
                    práva a povinnosti vzniklá po dobu účinnosti předchozího znění obchodních podmínek.<br/>
                </p>

                <p>
                    2. uživatelský účet<br/>
                    2.1. Na základě registrace kupujícího provedené na webové stránce může kupující přistupovat do svého
                    uživatelského rozhraní. Ze svého uživatelského rozhraní může kupující provádět objednávání zboží
                    (dále jen „uživatelský účet“). V případě, že to webové rozhraní obchodu umožňuje, může kupující
                    provádět objednávání zboží též bez registrace přímo z webového rozhraní obchodu.<br/>
                    2.2. Při registraci na webové stránce a při objednávání zboží je kupující povinen uvádět správně a
                    pravdivě všechny údaje. Údaje uvedené v uživatelském účtu je kupující při jakékoliv jejich změně
                    povinen aktualizovat. Údaje uvedené kupujícím v uživatelském účtu a při objednávání zboží jsou
                    prodávajícím považovány za správné.<br/>
                    2.3. Přístup v uživatelskému účtu je zabezpečen uživatelským jménem a heslem. Kupující je povinen
                    zachovávat mlčenlivost ohledně informací nezbytných v přístupu do jeho uživatelského účtu.<br/>
                    2.4. Kupující není oprávněn umožnit využívání uživatelského účtu třetím osobám.<br/>
                    2.5. Prodávající může zrušit uživatelský účet, a to zejména v případě, kdy kupující svůj uživatelský
                    účet déle než 12 měsíců nevyužívá, či v případě, kdy kupující poruší své povinnosti z kupní smlouvy
                    (včetně obchodních podmínek).<br/>
                    2.6. Kupující bere na vědomí, že uživatelský účet nemusí být dostupný nepřetržitě, a to zejména s
                    ohledem na nutnou údržbu hardwarového a softwarového vybavení prodávajícího, popř. nutnou údržbu
                    hardwarového a softwarového vybavení třetích osob.<br/>
                </p>

                <p>
                    3. uzavření kupní smlouvy<br/>
                    3.1. Veškerá prezentace zboží umístěná ve webovém rozhraní obchodu je informativního charakteru a
                    prodávající není povinen uzavřít kupní smlouvu ohledně tohoto zboží. Ustanovení § 1732 odst. 2
                    občanského zákoníku se nepoužije.<br/>
                    3.2. Webové rozhraní obchodu obsahuje informace o službách a zboží, a to včetně uvedení cen
                    jednotlivých služeb a jednotlivého zboží. Ceny zboží jsou uvedeny včetně daně z přidané hodnoty a
                    všech souvisejících poplatků. Ceny zboží zůstávají v platnosti po dobu, kdy jsou zobrazovány ve
                    webovém rozhraní obchodu. Tímto ustanovením není omezena možnost prodávajícího uzavřít kupní smlouvu
                    za individuálně sjednaných podmínek.<br/>
                    3.3. Webové rozhraní obchodu obsahuje také informace o nákladech spojených s balením a dodáním
                    zboží. Informace o nákladech spojených s balením a dodáním zboží uvedené ve webovém rozhraní obchodu
                    platí pouze v případech, kdy je zboží doručováno v rámci území České republiky.<br/>
                    3.4. Pro objednání zboží vyplní kupující objednávkový formulář ve webovém rozhraní obchodu.
                    Objednávkový formulář obsahuje zejména informace o:<br/>
                    3.4.1. objednávaném zboží (objednávané zboží „vloží“ kupující do elektronického nákupního košíku
                    webového rozhraní obchodu),<br/>
                    3.4.2. způsobu úhrady kupní ceny zboží, údaje o požadovaném způsobu doručení objednávaného
                    zboží<br/>
                    3.4.3. informace o nákladech spojených s dodáním zboží (dále společně jen jako „objednávka“).<br/>
                    3.5. Před zasláním objednávky prodávajícímu je kupujícímu umožněno zkontrolovat a měnit údaje, které
                    do objednávky kupující vložil, a to i s ohledem na možnost kupujícího zjišťovat a opravovat chyby
                    vzniklé při zadávání dat do objednávky. Objednávku odešle kupující prodávajícímu kliknutím na
                    tlačítko „ODESLAT OBJEDNÁVKU“. Údaje uvedené v objednávce jsou prodávajícím považovány za správné.
                    Prodávající neprodleně po obdržení objednávky toto obdržení kupujícímu potvrdí elektronickou poštou,
                    a to na adresu elektronické pošty kupujícího uvedenou v uživatelském rozhraní či v objednávce (dále
                    jen „elektronická adresa kupujícího“).<br/>
                    3.6. Prodávající je vždy oprávněn v závislosti na charakteru objednávky (množství zboží, výše kupní
                    ceny, předpokládané náklady na dopravu) požádat kupujícího o dodatečné potvrzení objednávky
                    (například písemně či telefonicky).<br/>
                    3.7. Smluvní vztah mezi prodávajícím a kupujícím vzniká doručením přijetí objednávky (akceptací),
                    jež je prodávajícím zasláno kupujícímu elektronickou poštou, a to na adresu elektronické pošty
                    kupujícího.<br/>
                    3.8. Kupující souhlasí s použitím komunikačních prostředků na dálku při uzavírání kupní smlouvy.
                    Náklady vzniklé kupujícímu při použití komunikačních prostředků na dálku v souvislosti s uzavřením
                    kupní smlouvy (náklady na internetové připojení, náklady na telefonní hovory) si hradí kupující sám,
                    přičemž tyto náklady se neliší od základní sazby.<br/>
                    <br/>
                    3.9. Pokud zákazník zboží nepřevezme bude vráceno dodavateli.<br/><br/>

                    3.10. Smlouva je uzavřena v Českém jazyce.<br/><br/>

                    3.11. V případě písemného upozornění na neuhrazenou pohledávku si společnost Agentura N+N s.r.o.
                    účtuje poplatek za skutečně vynaložené náklady, v upozornění či právním krokům, které byli
                    společností Agentura N+N s.r.o. podniknuty vůdči věřiteli.
                </p>
                <p>
                    4. cena zboží a platební podmínky<br/>
                    4.1. Cenu zboží a případné náklady spojené s dodáním zboží dle kupní smlouvy může kupující uhradit
                    prodávajícímu následujícími způsoby:<br/>
                    • v hotovosti ve výdejním místě prodávajícího, na adrese Počaply 61, 533 04 Sezemice<br/>
                    • v hotovosti na smluvním partnerském výdejním místě,<br/>
                    • bezhotovostně převodem na účty prodávajícího a vždy před zahájením výroby:<br/>
                    Platby v rámci Čeké republiky v CZK<br/>
                    Firma: Moneta Money Bank<br/>
                    č.ú. 169 302 805 / 0600<br/><br/>

                    Platby ze Slovenska :<br/>
                    CZK č.ú. 169 302 805 / 0600<br/>
                    EU č.ú. 179 681 685 / 0600<br/>
                    IBAN: CZ 52 0600 0000 0001 7968 1685<br/>
                    SWIFT: AGBA CZPP<br/><br/>

                    (dále jen „účet prodávajícího“);<br/>
                    • bezhotovostně platební kartou;<br/>
                    4.2. Společně s kupní cenou je kupující povinen zaplatit prodávajícímu také náklady spojené s
                    balením a dodáním zboží ve smluvené výši. Není-li uvedeno výslovně jinak, rozumí se dále kupní cenou
                    i náklady spojené s dodáním zboží.<br/>
                    4.3. V případě bezhotovostní platby je kupující povinen uhrazovat kupní cenu zboží společně s
                    uvedením variabilního symbolu platby. V případě bezhotovostní platby je závazek kupujícího uhradit
                    kupní cenu splněn okamžikem připsání příslušné částky na účet prodávajícího.<br/>
                    4.4. Prodávající je oprávněn, zejména v případě, že ze strany kupujícího nedojde v dodatečnému
                    potvrzení objednávky (čl. 3.6), požadovat uhrazení celé kupní ceny ještě před odesláním zboží
                    kupujícímu. Ustanovení § 2119 odst. 1 občanského zákoníku se nepoužije.<br/>
                    4.5. Případné slevy z ceny zboží poskytnuté prodávajícím kupujícímu nelze vzájemně kombinovat.<br/>
                    4.6. Je-li to v obchodním styku obvyklé nebo je-li tak stanoveno obecně závaznými právními předpisy,
                    vystaví prodávající ohledně plateb prováděných na základě kupní smlouvy kupujícímu daňový doklad –
                    fakturu. Prodávající je plátcem daně z přidané hodnoty. Daňový doklad – fakturu vystaví prodávající
                    kupujícímu a přiloží ji v zakoupenému zboží.<br/>
                </p>

                <p>
                    5. odstoupení od kupní smlouvy<br/>
                    5.1. Kupující bere na vědomí, že dle ustanovení § 1837 občanského zákoníku, nelze mimo jiné
                    odstoupit od
                    kupní smlouvy o dodávce zboží, které bylo upraveno a vyrobeno podle přání kupujícího nebo pro jeho
                    osobu.<br/>
                    5.2. Nejedná-li se o případ uvedený v čl. 5.1 či o jiný případ, kdy nelze od kupní smlouvy
                    odstoupit, má
                    kupující v souladu s ustanovením § 1829 odst. 1 občanského zákoníku právo od kupní smlouvy
                    odstoupit, a
                    to před potvrzením objednávky a udělaní souhlasu k výrobě zboží na zakázku. Odstoupení od kupní
                    smlouvy
                    musí být prodávajícímu odesláno ve lhůtě uvedené v předchozí větě. Odstoupení od kupní smlouvy může
                    kupující zasílat mimo jiné na adresu provozovny prodávajícího či na adresu elektronické pošty
                    prodávajícího obchod@4everin.cz<br/>
                    5.3. Nárok na úhradu škody vzniklé na zboží je prodávající oprávněn jednostranně započíst proti
                    nároku
                    kupujícího na vrácení kupní ceny.<br/>
                    5.4. Do doby převzetí zboží kupujícím je prodávající oprávněn kdykoliv od kupní smlouvy odstoupit. V
                    takovém případě vrátí prodávající kupujícímu kupní cenu bez zbytečného odkladu, a to bezhotovostně
                    na
                    účet určený kupujícím.<br/>
                    5.5. Je-li společně se zbožím poskytnut kupujícímu dárek, je darovací smlouva mezi prodávajícím a
                    kupujícím uzavřena s rozvazovací podmínkou, že dojde-li v odstoupení od kupní smlouvy kupujícím,
                    pozbývá
                    darovací smlouva ohledně takového dárku účinnosti a kupující je povinen spolu se zbožím
                    prodávajícímu
                    vrátit i poskytnutý dárek.<br/><br/>

                    5.6.-V případě,že se nepodaří Váš spor vyřešit s prodávajícím přímo,máte možnost kromě podání žáloby
                    v
                    příslušnému soudu využít také proces pro mimosoudní řešení sporů v rámci České Obchodní
                    Inspekce(tzv.ADR).Informace naleznete na int.stránkách adr.coi.cz<br/><br/>

                    5.7 V případě, že nejste spotřebitel, tedy zboží nakupujete v rámci své obchodní či podnikatelské
                    činnosti (o čemž rozhoduje uvedení IČ při objednávce), právo na odstoupení vám nevzniká, neboť
                    občanský
                    zákoník tuto možnost neuvádí.
                </p>
<p>
                6. přeprava a dodání zboží<br />
                6.1. V případě, že je způsob dopravy smluven na základě zvláštního požadavku kupujícího, nese kupující
                riziko a případné dodatečné náklady spojené s tímto způsobem dopravy.<br />
                6.2. Je-li prodávající podle kupní smlouvy povinen dodat zboží na místo určené kupujícím v objednávce,
                je kupující povinen převzít zboží při dodání.<br />
                6.3. V případě, že je z důvodů na straně kupujícího nutno zboží doručovat opakovaně nebo jiným způsobem,
                než bylo uvedeno v objednávce, je kupující povinen uhradit náklady spojené s opakovaným doručováním
                zboží, resp. náklady spojené s jiným způsobem doručení.<br />
                6.4. Při převzetí zboží od přepravce je kupující povinen zkontrolovat neporušenost obalů zboží a v
                případě jakýchkoliv závad toto neprodleně oznámit přepravci. V případě shledání porušení obalu
                svědčícího o neoprávněném vniknutí do zásilky nemusí kupující zásilku od přepravce převzít.<br />
                6.5. Další práva a povinnosti stran při přepravě zboží mohou upravit zvláštní dodací podmínky
                prodávajícího, jsou-li prodávajícím vydány.<br /><br />

                6.6.V případě,že kupující nepřevezme zboží, které mu bylo v souladu s kupní smlouvou doručeno a zboží se
                vrátí zpět prodávajícímu, aniž by došlo platně v odstoupení od smlouvy nebo jinému platnému ukončení
                smlouvy, tak prodávající uskladní zboží ve skladu v tomu určeném. Prodávající má s uskladněním náklady
                spočívající v nákladech za provoz skladu/nájem, energie, opotřebení, údržba/ a nákladech za zaměstnance,
                kteří provádějí skladování a uchování vráceného zboží. Prodávající má právo v tomto případě účtovat
                skutečně vynaložené náklady. Tyto činí 1% z ceny zboží denně. Tyto náklady je povinen kupující
                prodávajícímu uhradit. K úhradě těchto nákladů může prodávající předmět kupnísmlouvy zadržet. V případě,
                že si kupující nepřevezme zboží, které bylo na jeho přání upraveno ani do 100 dnů od vrácení zboží
                prodávajícímu, tak dává kupující prodávajícímu výslovný souhlas s tím,aby zboží zlikvidoval. Tím
                nezaniká povinnost kupujícího uhradit kupní cenu zboží.
</p>
                <p>
                7. práva z vadného plnění<br />
                7.1. Práva a povinnosti smluvních stran ohledně práv z vadného plnění se řídí příslušnými obecně
                závaznými předpisy (zejména ustanoveními § 1914 až 1925, § 2099 až 2117 a § 2161 až 2174 občanského
                zákoníku).<br />
                7.2. Prodávající odpovídá kupujícímu, že zboží při převzetí nemá vady. Zejména prodávající odpovídá
                kupujícímu, že v době, kdy kupující zboží převzal:<br />
                7.2.1. Prodávající odpovídá kupujícímu, že zboží, či služby mají vlastnosti, které si strany ujednaly, a
                chybí-li ujednání, má takové vlastnosti, které prodávající nebo výrobce popsal nebo které kupující
                očekával s ohledem na povahu zboží a na základě reklamy jimi prováděné,<br />
                7.2.2. Prodávající odpovídá kupujícímu, že zboží se hodí v účelu, který pro jeho použití prodávající
                uvádí nebo ke kterému se zboží tohoto druhu obvykle používá,<br />
                7.2.3. Prodávající odpovídá kupujícímu, že zboží nebo služba odpovídá jakostí nebo provedením smluvenému
                vzorku nebo předloze, byla-li jakost nebo provedení určeno podle smluveného vzorku nebo předlohy,<br />
                7.2.4. Prodávající odpovídá kupujícímu, že zboží je v odpovídajícím množství, míře nebo hmotnosti<br />
                7.2.5. Prodávající odpovídá kupujícímu, že zboží vyhovuje požadavkům platných právních předpisů.<br />
                7.3. Ustanovení uvedená v čl. 7.2 obchodních podmínek se nepoužijí u zboží prodávaného za nižší cenu na
                vadu, pro kterou byla nižší cena ujednána, na opotřebení zboží způsobené jeho obvyklým užíváním, u
                použitého zboží na vadu odpovídající míře používání nebo opotřebení, kterou zboží mělo při převzetí
                kupujícím, nebo vyplývá-li to z povahy zboží.<br />
                7.4. Projeví-li se vada v průběhu šesti měsíců od převzetí, má se za to, že zboží bylo vadné již při
                převzetí.<br />
                7.5. Práva z vadného plnění uplatňuje kupující u prodávajícího na adrese: Agentura N+N s.r.o., Počaply
                61, 533 04 Sezemice, v níž je přijetí reklamace možné s ohledem na sortiment prodávaného zboží, případně
                i v sídle prodávajícího.<br />
                7.6.Kupující je oprávněn uplatnit práva z odpovědnosti za vady,která se vyskytne u spotřebního zboží do
                24 měsíců od převzetí zboží. To neplatí v případě zákonem stanovených vyjímek.<br /><br />

                7.7.Je-li vadné plnění podstatným porušením smlouvy, má kupující právo:<br /><br />

                a.na odstranění vady dodáním nové věci bez vady nebo dodáním chybějící věci,<br /><br />

                b.na odsranění vady opravou věci,<br /><br />

                c.na přiměřenou slevu z kupní smlouvy,nebo<br /><br />

                d.odstoupit od smlouvy.<br /><br />

                Kupující sdělí prodávajícímu, jaké právo si zvolil, při oznámení vady, nebo bez zbytečného odkladu po
                oznámení vady. Provedenou volbu nemůže kupující změnit bez souhlasu prodávajícího: to neplatí, žádal-li
                kupující opravu vady, která se ukáže jako neopravitelná. Neodstraní-li prodávající vady v přiměřené
                lhůtě či oznámí-li kupujícímu, že vady neodstraní, může kupující požádat místo odstranění vady
                přiměřenou slevu z kupní ceny, nebo může od smlouvy odstoupit.<br /><br />

                Nezvolí-li kupující své právo včas, má práva jako při nepodstatném porušení smlouvy.<br /><br />

                Je-li vadné plnění nepodstatným porušením smlouvy, má kupující právo na odstranění vady, anebo na
                přiměřenou slevu z kupní ceny.<br /><br />

                Neoznámil-li kupující vadu bez zbytečného odkladu poté, co ji mohl při včasné prohlídce a dostatečné
                péči zjistit, soud mu právo z vadného plnění nepřizná, pokud prodávající namítne opožděnou notifikaci
                vady. Jedná-li se o skrytou vadu, platí totéž, nebyla-li vada oznámena bez zbytečného odkladu poté, co
                ji kupující mohl při dostatečné péči zjistit, nejpozději však do dvou let po odevzdání věci.<br /><br />

                Při dodání nové věci vrátí kupující prodávajícímu na jeho náklady věc původně dodanou/včetně veškerého
                dodaného příslušenství/.<br /><br />

                7.8.Další práva a povinnosti stran související s odpovědností prodávajícího za vady může upravit
                reklamační řád prodávajícího.
                </p>
                <p>
                8. další práva a povinnosti smluvních stran<br />
                8.1. Kupující nabývá vlastnictví ke zboží zaplacením celé kupní ceny zboží.<br />
                8.2. Prodávající není ve vztahu ke kupujícímu vázán žádnými kodexy chování ve smyslu ustanovení § 1826
                odst. 1 písm. e) občanského zákoníku.<br />
                8.3. Mimosoudní vyřizování stížností spotřebitelů zajišťuje prodávající prostřednictvím elektronické
                adresy obchod@4everin.cz. Informaci o vyřízení stížnosti kupujícího zašle prodávající na elektronickou
                adresu kupujícího.<br />
                8.4. Prodávající je oprávněn k prodeji zboží na základě živnostenského oprávnění. Živnostenskou kontrolu
                provádí v rámci své působnosti příslušný živnostenský úřad. Dozor nad oblastí ochrany osobních údajů
                vykonává Úřad pro ochranu osobních údajů. Česká obchodní inspekce vykonává ve vymezeném rozsahu mimo
                jiné dozor nad dodržováním zákona č. 634/1992 Sb., o ochraně spotřebitele, ve znění pozdějších předpisů.<br />
                8.5. Kupující tímto přebírá na sebe nebezpečí změny okolností ve smyslu § 1765 odst. 2 občanského
                zákoníku.
                </p>
                <p>
                9. ochrana osobních údajů<br />
                9.1. Ochrana osobních údajů kupujícího, který je fyzickou osobou, je poskytována zákonem č. 110/2019
                Sb., o zpracování osobních údajů, ve znění pozdějších předpisů a nařízením Evropského parlamentu a rady
                /EU/2016/679.<br />
                9.2. Kupující souhlasí se zpracováním těchto svých osobních údajů: jméno a příjmení, adresa bydliště,
                identifikační číslo, daňové identifikační číslo, adresa elektronické pošty, telefonní číslo a případně
                další adresa, například dodací, uvedená kupujícím v jeho objednávce. (dále společně vše jen jako „osobní
                údaje“).<br />
                9.3. Kupující souhlasí se zpracováním osobních údajů prodávajícím, a to pro účely realizace práv a
                povinností z kupní smlouvy a pro účely vedení uživatelského účtu. Nezvolí-li kupující jinou možnost,
                souhlasí se zpracováním osobních údajů prodávajícím také pro účely zasílání informací a obchodních
                sdělení kupujícímu. Souhlas se zpracováním osobních údajů v celém rozsahu dle tohoto článku není
                podmínkou, která by sama o sobě znemožňovala uzavření kupní smlouvy.<br />
                9.4. Kupující bere na vědomí, že je povinen své osobní údaje (při registraci, ve svém uživatelském účtu,
                při objednávce provedené z webového rozhraní obchodu) uvádět správně a pravdivě a že je povinen bez
                zbytečného odkladu informovat prodávajícího o změně ve svých osobních údajích.<br />
                9.5. Zpracováním osobních údajů kupujícího může prodávající pověřit třetí osobu, jakožto zpracovatele.
                Kromě osob dopravujících zboží nebudou osobní údaje prodávajícím bez předchozího souhlasu kupujícího
                předávány třetím osobám.<br />
                9.6. Osobní údaje budou zpracovávány po dobu neurčitou. Osobní údaje budou zpracovávány v elektronické
                podobě automatizovaným způsobem nebo v tištěné podobě neautomatizovaným způsobem.<br />
                9.7. Kupující potvrzuje, že poskytnuté osobní údaje jsou přesné a že byl poučen o tom, že se jedná o
                dobrovolné poskytnutí osobních údajů.<br />
                9.8. V případě, že by se kupující domníval, že prodávající nebo zpracovatel (čl. 9.5) provádí zpracování
                jeho osobních údajů, které je v rozporu s ochranou soukromého a osobního života kupujícího nebo v
                rozporu se zákonem, zejména jsou-li osobní údaje nepřesné s ohledem na účel jejich zpracování, může:<br />
                9.8.1. požádat prodávajícího nebo zpracovatele o vysvětlení,<br />
                9.8.2. požadovat, aby prodávající nebo zpracovatel odstranil takto vzniklý stav.<br />
                9.9. Požádá-li kupující o informaci o zpracování svých osobních údajů, je mu prodávající povinen tuto<br />
                informaci předat. Prodávající má právo za poskytnutí informace podle předchozí věty požadovat přiměřenou
                úhradu nepřevyšující náklady nezbytné na poskytnutí informace.
                </p>
<p>
                10. zasílání obchodních sdělení a ukládání cookies<br />
                10.1. Kupující souhlasí se zasíláním informací souvisejících se zbožím, službami nebo podnikem
                prodávajícího na elektronickou adresu kupujícího a dále souhlasí se zasíláním obchodních sdělení
                prodávajícím na elektronickou adresu kupujícího.<br />
                10.2. Kupující souhlasí s ukládáním tzv. cookies na jeho počítač. V případě, že je nákup na webové
                stránce možné provést a závazky prodávajícího z kupní smlouvy plnit, aniž by docházelo v ukládání tzv.
                cookies na počítač kupujícího, může kupující souhlas podle předchozí věty kdykoliv odvolat.
</p>
<p>
                11. doručování<br />
                11.1. Kupujícímu může být doručováno na adresu elektronické pošty uvedenou v jeho uživatelském účtu či
                uvedenou kupujícím v objednávce.
</p>
<p>
                12. závěrečná ustanovení<br />
                12.1. Pokud vztah založený kupní smlouvou obsahuje mezinárodní (zahraniční) prvek, pak strany
                sjednávají, že vztah se řídí českým právem. Tímto nejsou dotčena práva spotřebitele vyplývající z obecně
                závazných právních předpisů.<br />
                12.2. Je-li některé ustanovení obchodních podmínek neplatné nebo neúčinné, nebo se takovým stane,
                namísto neplatných ustanovení nastoupí ustanovení, jehož smysl se neplatnému ustanovení co nejvíce
                přibližuje. Neplatností nebo neúčinností jednoho ustanovení není dotknutá platnost ostatních ustanovení.
                Změny a doplňky kupní smlouvy či obchodních podmínek vyžadují písemnou formu.<br />
                12.3. Kupní smlouva včetně obchodních podmínek je archivována prodávajícím v elektronické podobě a není
                přístupná.<br />
                12.4. Přílohu obchodních podmínek tvoří vzorový formulář pro odstoupení od kupní smlouvy.<br />
                12.5. Kontaktní údaje prodávajícího: adresa pro doručování Agentura N+N s.r.o., Počaply 61, 533 04
                Sezemice, adresa elektronické pošty:obchod@4everin.cz , telefon: +420 603 524 942
</p>
            </div>
        </div>

    </div>
{% endblock body %}
