{% extends 'base.html.twig' %}
{% block body %}
<div class="contact-page">
    <div class="main empty">
        <div class="box">
            <div class="row top">
                <div class="left">
                    <a href="{{ path('main') }}">
                        <img src="/images/Logo_4everin-Logo_4everin_white.svg" alt="logo 4everin"/>
                    </a>
                </div>
                <div class="right">
                    {% include 'menu.html.twig' %}
                </div>
            </div>
            <div class="row">
                <h2>Děkujeme za objednávku, více informací naleznete ve vašem emailu.</h2>
            </div>
        </div>
    </div>
{% endblock %}
