
{% extends 'base.html.twig' %}
{% block body %}

    <div class="zakazka-page">
        <div class="main empty">
            <div class="box">
                <div class="row top">
                    <div class="left">
                        <a href="{{ path('main') }}">
                            <img src="/images/Logo_4everin-Logo_4everin_white.svg" alt="logo 4everin"/>
                        </a>
                    </div>
                    <div class="right">
                        <div class="contact">
                            <a href="tel:+420603524942">+420 603 524 942</a> | <a href="mailto:obchod@4everin.cz">obchod@4everin.cz</a>
                        </div>
                        <div class="menu">
                            <a href="{{ path('reference') }}">REFERENCE</a>
                            <a href="{{ path('main') }}#vyroba">VÝROBA</a>
                            <a href="{{ path('eshop') }}">OBJEDNAT</a>
                            <a href="{{ path('contact') }}">KONTAKT</a>
                        </div>
                    </div>
                </div>

                <div class="box-content">
                    <div class="left">
                        <div class="title">
                            Dárek vhodný pro každou příležitost.
                            Darujte radost.
                        </div>
                        <div class="subtitle">
                            <ul>
                                <li>narozeniny, svátky, výročí</li>
                                <li>svatby a promoce</li>
                                <li>2D nebo 3D efekt</li>
                            </ul>
                        </div>

                        <form action="{{ path('eshop') }}">
                            <button type="submit" class="button-red">KONTAKTUJTE NÁS</button>
                        </form>
                    </div>
                    <div class="right">
                        <img src="/images/4everin_foto_darekzfotek.png" class="foto-kluk"/>
                    </div>
                </div>

            </div>
        </div>
        <div class="desc" id="photosDesc">
            <div class="box">
                <div class="left">
                    <div class="content">

                        <p>Sklo uchová atmosféru okamžiku pro Vaši vzpomínku a inspiraci.
                            Vyberte fotografie plné zážitků a jedinečných chvil a my je přeneseme do skla pro radost Vám i
                            Vašim blízkým.</p>

                        <div class="quote">Jak na to?</div>
                        <ul>
                            <li> přejděte na náš <a href="{{ path('eshop') }}">objednávkový systém</a></li>
                            <li>zvolta tvar a rozměr skla</li>
                            <li>vyberte 1 fotografií o velikosti 0,5 - 2 MB,
                                tak, aby byl obsah dostatečně vidět
                            </li>
                            <li>přidejte popisek, pokud se Vám k fotce hodí</li>
                            <li>vyplňte své údaje a odešlete nám je</li>
                        </ul>

                        <p>My se Vám pak ozveme, jaká fotka je perfektní
                            pro dokonalou výrobu a dáme se do toho.</p>
                    </div>
                </div>
                <div class="right">
                    <img src="/images/10.jpg"/>
                </div>
            </div>
            <div class="bottom">
                <form action="{{ path('reference') }}">
                    <button type="submit" class="button-red btn">REFERENCE</button>
                </form>
            </div>

            <div class="boxes">
                <a href="{{ path('custom') }}" class="item">
                    <div>
                        <div class="line"></div>
                        SPECIFICKÁ<br/>
                        VÝROBA
                    </div>
                </a>
                <a href="{{ path('companies') }}" class="item">
                    <div>
                        <div class="line"></div>
                        VÝROBA PRO<br/>
                        FIRMY / OBCE
                    </div>
                </a>
                <a href="{{ path('photos') }}" class="item">
                    <div>
                        <div class="line"></div>
                        VAŠE FOTKY<br/>
                        VE SKLE 2D/3D
                    </div>
                </a>
                <a href="{{ path('eshop') }}" class="item">
                    <div>
                        <div class="line"></div>
                        OBJEDNAT SVŮJ<br/>
                        DÁREK ONLINE
                    </div>
                </a>
            </div>

        </div>
    </div>

    {% block script %}
        <script>
        </script>
    {% endblock script %}
{% endblock body %}
