{% extends 'base.html.twig' %}
{% block body %}
    <div class="reference-page">
        <div class="main empty">
            <div class="box">
                <div class="row top">
                    <div class="left">
                        <a href="{{ path('main') }}">
                            <img src="/images/Logo_4everin-Logo_4everin_white.svg" alt="logo 4everin"/>
                        </a>
                    </div>
                    <div class="right">
                        <div class="contact">
                            <a href="tel:+420603524942">+420 603 524 942</a> | <a href="mailto:obchod@4everin.cz">obchod@4everin.cz</a>
                        </div>
                        <div class="menu">
                            <a href="{{ path('reference') }}">REFERENCE</a>
                            <a href="{{ path('main') }}#vyroba">VÝROBA</a>
                            <a href="{{ path('eshop') }}">OBJEDNAT</a>
                            <a href="{{ path('contact') }}">KONTAKT</a>
                        </div>
                    </div>
                </div>

                <div class="box-content">
                    <div class="slider">
                        <div class="title">
                            Naše reference
                        </div>
                        <div class="arrow-wrap">
                            <a class="arrow-left" href="#"><img src="/images/slider/chevron_big_left.svg"/></a>
                            <div class="images">
                                {% for ref in reference %}
                                    <img src="{{ vich_uploader_asset(ref, 'imageFile') }}" class="image-slider "/>
                                {% endfor %}
                            </div>
                            <a class="arrow-right" href="#"><img src="/images/slider/chevron_big_right.svg"/></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="box-reference">
            <div class="clients">
                <div class="title">
                    Naši klienti
                </div>
                <div class="list">
                    {% for client in clients %}
                        <div class="item">
                            <a target="_blank" href="{{ client.link }}"><img src="{{ vich_uploader_asset(client, 'imageFile') }}"/></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% block script %}
        <script>
        </script>
    {% endblock script %}
{% endblock body %}
