{% extends 'base.html.twig' %}
{% block body %}


<div class="text-page">


    <div class="header-box">
        <div class="logo">
            <a href="{{ path('main') }}">
                <img src="/images/Logo_4everin-Logo_4everin_white.svg" alt="logo 4everin"/>
            </a>
        </div>
        <div class="title">
            Reklamace
        </div>
    </div>

    <div class="content">
        <div class="text">
            <div class="title">
                Pokud je něco špatně :(
            </div>
            <p>
                • výrobek Vám dorazil poškozený nebo s vadou - stát se to může, tak to pojďme vyřešit
            </p>
            <p>
                • zašlete nám prosím na email obchod@4everin.cz fotografie poškozeného/vadového zboží s číslem vaší
                objednávky a pokusíme se vaší reklamaci posoudit prostřednictvím emailu
            </p>
            <p>
                • bohužel vše posoudit z fotografií nelze, v takovém případě vás vyzveme v zaslání zboží zpět k nám na
                firmu, kde řádně vše prošetříme a v zákonné lhutě se Vám vyjádříme v reklamaci
            </p>

            <div class="title">
                Chci vrátit zboží v zákonné lhůtě 14 dnů bez udání důvodu.
            </div>

            <p>
                Tato možnost se nevztahuje na zboží, které vyrábíme a je vyrobené přímo Vám na míru, dle Vašich předloh
                a požadavků. A to dle ustanovení § 1837 občanského zákoníku.
            </p>

            <a href="{{ path('obchodniPodminky')}}">Obchodní podmínky</a>
        </div>
    </div>

</div>
{% endblock body %}
